.footer {
  background-color: #3c414f;
  color: #ffffff;
  padding-top: rem(77);
  margin-top: rem(60);

  img {
    // max-width: rem(110 + 60);
    margin-bottom: rem(40);
  }

  .res-i {
    margin-top: rem(-10);
  }

  a {
    text-decoration: none !important;
    color: #ffffff;
    @extend .link-hover;

    &:not(:hover) {}
  }

  a {
    display: inline-block;
  }

  &__bottom {
    // margin-top: ;
    // border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding: rem(23) 0 rem(5);
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    @include media-breakpoint-up(sm) {
      text-align: left;
    }
    text-align: center;
  }

  &__title {
    font-weight: 500;
    color: $primary;
    @extend .mono;
    @extend .h5;
  }

  ul {
    list-style-type: none;
  }

  .op {
    opacity: 0.7;
    padding-bottom: rem(17);
  }

  &__col {
    @include media-breakpoint-up(sm) {

      padding-bottom: rem(40);
    }
    padding-bottom: rem(20);
    @include media-breakpoint-up(sm) {
      text-align: left;
    }
    text-align: center;
  }

  .dop-info {
    @include media-breakpoint-up(sm) {
      padding-bottom: rem(14);
    }
    padding-bottom: 0;
  }

  .info-fond {
    @include media-breakpoint-up(sm) {
      padding-bottom: 0;
    }
    padding-bottom: rem(40);
  }

  &__yur-adr {
    opacity: .5;
    padding-bottom: rem(31);
  }

  .rekviz tr, .rekviz td, .rekviz {
    @include media-breakpoint-down(xs) {
      display: block;
    }
  }

  .rekviz .tr-row {
    @include media-breakpoint-down(xs) {
      display: flex;
    }
  }

  &__bank {
    opacity: .5;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
    margin-bottom: rem(36);
  }

  &__bank p {
    text-transform: uppercase;
    opacity: .5;
    letter-spacing: 0.1em;
    margin-bottom: rem(4);
  }

  &__bank-link {
    height: rem(67);
    margin-bottom: rem(15);
  }

  &__vopr {
    align-self: flex-end;
    @include media-breakpoint-up(sm) {
      padding-bottom: 0;
    }
    padding-bottom: rem(34);
  }

  table {
    max-width: rem(692);
    @include media-breakpoint-up(lg) {
      font-size: rem(16);
    }
    font-size: 13px;
  }
  
  td {
    vertical-align: top;
    padding-right: rem(10);
  }

  // 
  @include media-breakpoint-up(xl) {}

  @include media-breakpoint-up(lg) {}

  @include media-breakpoint-up(md) {}

  @include media-breakpoint-up(sm) {
    // text-align: center;
    // }
  // text-align: center;
  }

  @include media-breakpoint-up(xs) {}


  // 
  @include media-breakpoint-between(md, xl) {}


  // 
  @include media-breakpoint-only(xs) {}

  @include media-breakpoint-only(sm) {}

  @include media-breakpoint-only(md) {}

  @include media-breakpoint-only(lg) {}

  @include media-breakpoint-only(xl) {}


  // 
  @include media-breakpoint-down(xl) {}

  @include media-breakpoint-down(lg) {}

  @include media-breakpoint-down(md) {}

  @include media-breakpoint-down(sm) {}

  @include media-breakpoint-down(xs) {}
}

.socc {
  @include media-breakpoint-up(sm) {
    padding-left: rem(4);
  }

  &__li{
    margin-bottom: rem(10);
  }

  a {
    display: inline-flex;
    align-items: center;
  }

  &__icon-wrap {
    width: rem(26);
    margin-right: rem(8);
    text-align: center;
  }

  .icon-facebook {
  font-size: rem(20);
  }

  .icon-vk {
    font-size: rem(15);
  }

  .icon-insta {
    font-size: rem(20);
  }

  .icon-twitter {
    font-size: rem(17);
  }
}

.img-wrap {
  @include media-breakpoint-up(lg) {
    text-align: left;
  }
  text-align: center;
}
