mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				.col-lg-3.img-wrap
					a(href="#")
						img.res-i(src="img/svg/logo-lg.svg", alt="")
				.col-lg-9.info-fond
					.row
						+e.col.col-lg.col-sm-4
							.row
								.col-lg-12.col-md-12
									+e.title: a(href="#").text-primary О фонде
									ul.op
										li: a(href="#") Официальные документы
										li: a(href="#") Финансовые отчёты
										li: a(href="#") Заявка на попечение
										li: a(href="#") Инфо-стойки фонда
								.col-lg-12.col-md-12.dop-info
									+e.title: a(href="#") Текущие проекты
									+e.title: a(href="#") Реализованные проекты
									+e.title: a(href="#") Новости
							
						+e.col.col-lg.col-sm-4
							+e.title Социальные сети
							+b.UL.socc
								+e.li
									a(href="#")
										+e.icon-wrap: +icon("facebook")
										| Facebook
								+e.li
									a(href="#")
										+e.icon-wrap: +icon("vk")
										| Vkontakte
								+e.li
									a(href="#")
										+e.icon-wrap: +icon("insta")
										| Instagram
								+e.li
									a(href="#")
										+e.icon-wrap: +icon("twitter")
										| Twitter

						+e.col.col-lg.col-sm-4
							+e.title Контакты
							p 117463, г.Москва, #[br] ул. Новоясеневский пр-т, 42 #[br] #[a(href="tel:8(495)422-25-88") 8 (495) 422-25-88] 
								br
								a(href="mailto:info@fond-am.ru") info@fond-am.ru

			.row
				.col-lg-3
				+e.yur-adr.col-lg-9
					table.rekviz
						tr
							td Название&nbsp;организации:
							td Благотворительный Фонд содействия строительству и реконструкции православных храмов во имя Святого Архангела Михаила

						tr
							td Юридический адрес:
							td 119049, г. Москва, ул. Донская, д. 11, стр. 2

						tr.tr-row
							td ИНН
							td 7706414790

						tr.tr-row
							td КПП
							td 770601001

						tr.tr-row
							td ОГРН
							td 1107799021230

			.row
				.col-lg-3
				+e.bank.col-lg-4.col-sm-6
					+e.bank-link(href="#")
						img(src="img/svg/sberbank.svg", alt="")
					p Банк Сбербанк
					table
						tr
							td Рассчётный&nbsp;счёт:
							td 40701810738000003212
							
						tr
							td Банк:
							td ПАО СБЕРБАНК г. Москва
							
						tr
							td Кор. счёт:
							td 30101810400000000225
							
						tr
							td БИК
							td 044525225
							
				+e.bank.col-lg-4.col-sm-6
					+e.bank-link(href="#")
						img(src="img/svg/minbank.svg", alt="")
					p Банк Минбанк
					table
						tr
							td Рассчётный&nbsp;счёт:
							td 40703810005100000117

						tr
							td Банк:
							td ПАО «МИНБАНК» г. Москва

						tr
							td Кор. счёт:
							td 30101810300000000600

						tr
							td БИК
							td 044525600

			+e.bottom
				.row
					.col.col-lg-3.col-md-3.mb-3 © 2010 — 2019. <br> Благотворительный фонд <br> Святого Архангела Михаила
					 
					+e.vopr.col-lg-9.col-sm-12.order-first.order-sm-0.mb-3 По всем вопросам обращайтесь на #[a(href="mailto:info@fond-am.ru") info@fond-am.ru]
