mixin s-about()
	// start s-about
	+b.SECTION.s-about.section.pt-0#s-about&attributes(attributes)
		.container(data-sticky-container)
			block
			+e.sidebar
				+e.UL.nav.sticky-js(data-margin-top="120")
					li: a(href="#video") Видео презентация
					li: a(href="#mission") Наша миссия
					li: a(href="#tasks") Наши задачи
					li: a(href="#values") Наши ценности
					li: a(href="#achievements") Ключевые  достижения
			+e.content
			
					#video 
						+e.group
							+b.video-block(href="https://www.youtube.com/watch?v=en6gms6e54Q&list=PLIU76b8Cjem5B3sufBJ_KFTpKkMEvaTQR" data-fancybox="video")
								+pic("project-main-1","bg",'','')(class="picture-bg") 
								+e.DIV.center
									+e.DIV.play
									+e.DIV.center-text Презентация  Фонда&nbsp;Архангела Михаила 
						+e.group--numbers
							.row
								mixin item(t,n,t2)
									+e.col-numbers.col-auto
										+e.text!= t
										+e.number= n
										+e.text!= t2
								+item(`Собрано и&nbsp;реализовано`,`535`,`млн. рублей`)
								+item(`Построено и&nbsp;отремонтировано`,`12`,`храмов`)
								+item(`Создано и&nbsp;восстановлено`,`8`,`святынь`)
						+e.group.mono
							h4.mono Благотворительный Фонд Архангела Михаила был создан в&nbsp;2010&nbsp;году. Деятельность Фонда направлена на&nbsp;помощь в&nbsp;строительстве  и&nbsp;реконструкции православных храмов.

							h4.mono Накопленный опыт позволяет Фонду осуществлять масштабные проекты по&nbsp;возведению и&nbsp;реконструкции православных храмов. 

							h4.mono Фонд на&nbsp;постоянной основе оказывает поддержку множеству православных храмов как в&nbsp;России, так и&nbsp;за&nbsp;рубежом. Число таких подопечных постоянно увеличивается.
						+e.group--tabs
							h2.strong.text-center  География проектов
							.tabs
								.text-center.tabs__caption
									span.tabs__btn.active Россия
									span.tabs__btn Москва
								div
									.tabs__content.active
										.tabs__img-wrap.tabs__img-wrap--rus
											+pic("tab-map-1.png")
										ol  
											li: a(href="#") Кафедральный собор Христа Спасителя, г. Калининград
											li: a(href="#") Храмовый комплекс святых мучеников Анатолия  и Протолеона, г. Москва
											li: a(href="#") Храм в честь святого мученика Иоанна Воина, г. Челябинск
											li: a(href="#") Храм Воскресения Христова, р.п. Павловка, Ульяновская обл.
											li: a(href="#") Храм Живоначальной Троицы, с. Медяны, Кировская обл.
											li: a(href="#") Храм равноапостольного князя Владимира,  п. Станционный-Полевской, Свердловская обл.
											li: a(href="#") Молитвенный дом Архангела Михаила, с. Каменный Брод,   Пензенская обл.
											li: a(href="#") Храм в честь свт. Тихона, Патриарха всероссийского, г. Клин, Московская обл.
									.tabs__content
										.tabs__img-wrap
											+pic("tab-map-2.png")
										ol  
											li: a(href="#") Кафедральный собор Христа Спасителя, г. Калининград
											li: a(href="#") Храмовый комплекс святых мучеников Анатолия  и Протолеона, г. Москва
											li: a(href="#") Храм в честь святого мученика Иоанна Воина, г. Челябинск
											li: a(href="#") Храм Воскресения Христова, р.п. Павловка, Ульяновская обл.
											li: a(href="#") Храм Живоначальной Троицы, с. Медяны, Кировская обл.
											li: a(href="#") Храм равноапостольного князя Владимира,  п. Станционный-Полевской, Свердловская обл.
											li: a(href="#") Молитвенный дом Архангела Михаила, с. Каменный Брод,   Пензенская обл.
											li: a(href="#") Храм в честь свт. Тихона, Патриарха всероссийского, г. Клин, Московская обл.
							.text-center
								a.btn.btn-outline-primary.btn-more(href="#") ВСЕ ПРОЕКТЫ
					#mission
						+e.group--mission
							h2.strong.text-center Наша миссия
							+e.sub-title
								h2
									em &laquo;Те, кто строит храмы, входят в&nbsp;историю  и&nbsp;не&nbsp;только в&nbsp;человеческую. Имена этих людей записываются в&nbsp;Книге жизни.&raquo;
							+b.person-block
								+e.img-wrap
									img(src="img/@2x/person-1.jpg", alt="")
								+e.title Святейший Патриарх  Кирилл
							h4.mono Наша миссия&nbsp;&mdash; возрождение культурного и&nbsp;духовного наследия России через строительство, восстановление и&nbsp;благоукрашение православных храмов.

							h4.mono Мы&nbsp;способствуем тому, чтобы в&nbsp;России не&nbsp;осталось ни&nbsp;одного разрушенного и&nbsp;не&nbsp;действующего храма. Каждый храм в&nbsp;России должен быть наполнен духовной жизнью.

							h4.mono Каждый православный житель России должен внести свою лепту  в&nbsp;укрепление православной культуры&nbsp;&mdash; стержень Российского государства.
					#tasks
						+e.group--tasks
							h2.strong.text-center Наши задачи
							+e.sub-title
								h2
									em &laquo;Дело жизни&nbsp;&mdash; быть с&nbsp;Богом. Делать добрые дела&nbsp;&mdash; посадить дерево, научить сына любить родину, поучаствовать в&nbsp;созидании или возрождении святыни&nbsp;&mdash; посильно каждому. Мы&nbsp;(Фонд) живем этим сами и&nbsp;создаем условия для воплощения зова души всех неравнодушных построить храм всем миром и&nbsp;оставить доброе наследие будущим поколениям.&raquo;
							+b.person-block
								+e.img-wrap
									img(src="img/@2x/person-2.jpg", alt="")
								+e.title Гончаров павел игоревич
								+e.text Председатель правления Фонда
							ul
								li Мы&nbsp;укрепляем духовные и&nbsp;православные традиции России

								li Мы&nbsp;строим и&nbsp;восстанавливаем центры православной культуры по&nbsp;всей стране

								li Мы&nbsp;хотим жить в&nbsp;духовно здоровом обществе

								li Мы&nbsp;вовлекаем граждан России в&nbsp;проекты по&nbsp;восстановлению храмов и&nbsp;святынь и&nbsp;через это прививаем им&nbsp;любовь к&nbsp;истории своей страны.
							h4.mono Совместными усилиями мы&nbsp;возрождаем культурно-историческое и&nbsp;духовное наследие страны. Укрепляем духовные и&nbsp;православные традиции России, что ведет как к&nbsp;укреплению страны в&nbsp;целом, так и&nbsp;в&nbsp;частном: снижению преступности, в&nbsp;том числе, в&nbsp;молодежной среде, уменьшению числа разводов, абортов и&nbsp;всего того, что весьма отрицательно характеризует некоторые стороны нашей общественной жизни.

					 
					#values
						+e.group--values
							h2.strong.text-center Наши ценности
							+e.sub-title
								h2
									em &laquo;Объединившись, мы&nbsp;можем сделать многое, оказать большую помощь тем, кто не&nbsp;имеет возможности участвовать в&nbsp;жизни Православной Церкви, кто не&nbsp;просвещен Светом Христовым.&raquo;
							+b.person-block
								+e.img-wrap
									img(src="img/@2x/person-3.jpg", alt="")
								+e.title.ttu архимандрит мелхиседек (артюхин)
								+e.text Почетный член попечительского совета Фонда, настоятель храмов Покрова Пресвятой Богородицы в&nbsp;Ясеневе и&nbsp;подворья Введенского ставропигиального мужского монастыря Оптина Пустынь храма&nbsp;св. апп. Петра и&nbsp;Павла в&nbsp;Ясеневе
							ul.col2
								li  Любовь к Богу 

								li  Любовь к ближнему

								li  Ответственность

								li  Трудолюбие
								li Искренность

								li Милосердие

								li Красота

								li Патриотизм
							h4.mono Совместными усилиями мы&nbsp;возрождаем культурно-историческое и&nbsp;духовное наследие страны. Укрепляем духовные и&nbsp;православные традиции России, что ведет как к&nbsp;укреплению страны в&nbsp;целом, так и&nbsp;в&nbsp;частном: снижению преступности, в&nbsp;том числе, в&nbsp;молодежной среде, уменьшению числа разводов, абортов и&nbsp;всего того, что весьма отрицательно характеризует некоторые стороны нашей общественной жизни.
					
					#achievements 
					+e.group--achievements
						+e.group
							h2.strong.text-center Ключевые достижения
						mixin item(i,t,p)
							+e.group.row
								.col-sm-auto.order-sm-last.text-center
									img.res-i(src=`img/@2x/achievements-${i}.png`, alt="")
								.col
									.h5.strong!= t
									if p
										p!= p
									block
									+e.link-more(href="#") Подробнее
										+icon("arrow-b-right")
						+item('1','Именной кирпич',`Фонд стал известен тем, что первый  в&nbsp;новой истории России сделал доступной и&nbsp;популярной идею &laquo;именных кирпичей&raquo; для строительства храмов, возродив традицию строительства храмов &laquo;Всем миром&raquo;`)

						+item('2','Древняя Византия  под московским небом',``)
							p Первым успешно реализованным проектом Фонда Архангела Михаила стал уже многим известный уникальный храм-памятник Покрова Пресвятой Богородицы в Ясеневе, построенный на Юго-Западе Москвы #[a(href="#") только на частные пожертвования].
							p ПУдивителен тот факт, что всего за 5 лет удалось построить столь грандиозный храм. В том числе, благодаря усилиям Фонда, всего более миллиона человек и более 110 тысяч московских компаний приняли участие в столь масштабном строительстве.
						+item('3','Возрождение культуры',`Одним из&nbsp;первых Фонд Архангела Михаила стал оказывать помощь и&nbsp;небольшим объектам (храмы и&nbsp;монастыри России), нуждающимся в&nbsp;частичном восстановлении и&nbsp;реконструкции, ставя своей миссией не&nbsp;только строительство новых, но&nbsp;и&nbsp;восстановление разрушенных святынь.`)
						h4.mono Фонд не&nbsp;имеет представительств в&nbsp;регионах и&nbsp;не&nbsp;сотрудничает с&nbsp;посредниками, внести пожертвования на&nbsp;строительство храмов, являющихся проектами Фонда можно только через информационные стойки расположенные в&nbsp;Торговых центрах и&nbsp;супермаркетах&nbsp;г. Москвы (#[a(href="#") смотреть все адреса стоек]) или он-лайн через сайт Фонда или непосредственно на&nbsp;сайте самих храмов или на&nbsp;их&nbsp;территории.

						h4.mono Для того чтоб стать попечителем Фонда, необходимо заполнить форму на&nbsp;сайте.

						h4.mono Чтоб стать партнером Фонда юридическому лицу, необходимо связаться по&nbsp;телефону&nbsp;#[a(href="tel:+7(495)422-25-88") +7 (495) 422-25-88] или написать на&nbsp;почту #[a(href="mailto:info@fond-am.ru") info@fond-am.ru] c&nbsp;пометкой &laquo;Партнерство&raquo;. В&nbsp;каждом конкретном случае формы партнерства и&nbsp;информационного сопровождения обсуждаются индивидуально.
						
	// end s-about