
mixin modal() 
  
	.d-none
		 
		
		+b.modal-rew(id="modal-rew" class="  modal-win " ) 
			
			+e.slider-wrapper
				+e.slider--js.swiper-container
					.swiper-wrapper
						+e.slide.swiper-slide
							+e.man
								+e.img-wrap-man 
									img.res-i(src='img/@2x/man.png', alt="")
								+e.name 1Патриарх Московский и&nbsp;Всея Руси Кирилл
							p «Участвовали в проекте «Узнай! Вдохновись! Сделай!». Огромное спасибо за экскурсию об истории благотворительности. Много узнали о предпринимателях - благотворителях и меценатах! Лисицына А. - профессионал с большой буквы! Работники музея - фанаты своего дела, влюбленные в Москву, в страну, прекрасно владеющие знаниями по истории страны и навыками общения с посетителями! Спасибо»!
						+e.slide.swiper-slide
							+e.man
								+e.img-wrap-man 
									//- img.res-i(src='img/@2x/man.png', alt="")
								+e.name 2Патриарх Московский и&nbsp;Всея Руси Кирилл2
							p «Участвовали в проекте «Узнай! Вдохновись! Сделай!». Огромное спасибо за экскурсию об истории благотворительности. Много узнали о предпринимателях - благотворителях и меценатах! Лисицына А. - профессионал с большой буквы! Работники музея - фанаты своего дела, влюбленные в Москву, в страну, прекрасно владеющие знаниями по истории страны и навыками общения с посетителями! Спасибо»!
			
						+e.slide.swiper-slide
							+e.man
								+e.img-wrap-man 
									//- img.res-i(src='img/@2x/man.png', alt="")
								+e.name 3Патриарх Московский и&nbsp;Всея Руси Кирилл
							p «Участвовали в проекте «Узнай! Вдохновись! Сделай!». Огромное спасибо за экскурсию об истории благотворительности. Много узнали о предпринимателях - благотворителях и меценатах! Лисицына А. - профессионал с большой буквы! Работники музея - фанаты своего дела, влюбленные в Москву, в страну, прекрасно владеющие знаниями по истории страны и навыками общения с посетителями! Спасибо»!
			+arrow()(class="modalArrow")
		// #modal-rew

	// modal