mixin sDonateTargetPreheader()
	// start sDonateTargetPreheader
	+b.SECTION.sDonateTargetPreheader#sDonateTargetPreheader&attributes(attributes)
		+e.bg-block
			img(src="img/@2x/donate-target-preheader-bg.jpg")
		+e.content-block
			.container
				+e.top-txt-block.text-center
					h2
						| Храм в&nbsp;честь свт. Николая Чудотворца, архиеп. Мирликийских
						i в Мужиново
					+e.A.location-link(href="#")
						+icon('mark')
						span Брянская обл., с. Мужиново
			+b.donate-target-slider
				+e.we-need-txt.text-center='Требуется набор колоколов'
				.swiper-container.donate-target-slider-js
					.swiper-wrapper
						+donationTarSlide(1,'')
						+donationTarSlide(1,2)
						+donationTarSlide(1,3)
						+donationTarSlide(1,4)
						+donationTarSlide(1,5)
				+e.progress-bar-cont
					+progressBar()
			.text-center
				+e.A.donate-btn(href="#") ПОЖЕРТВОВАТЬ
	// end sDonateTargetPreheader

mixin donationTarSlide(imgNum='1', slideNum=1)
	.swiper-slide
		.slide-content
			.video-link
				.video-img-block
					img.swiper-lazy(src="#" data-src=`img/@2x/donation-tar-sl-img-${imgNum}.jpg` alt="")
				a.play-cont(href="https://www.youtube.com/watch?v=en6gms6e54Q&list=PLIU76b8Cjem5B3sufBJ_KFTpKkMEvaTQR" data-fancybox="video")
					.play-btn


mixin progressBar(gotMoney='399 860 ₽',needMoney='500 860 ₽')
	+b.progress-bar
		+e.container
			+e.unready-strip
			+e.ready-strip(style="width: 73.8%")
		+e.data-cont
			+e.data-item.donate-ready
				.data-txt Собрано
				.money-str=gotMoney
			+e.chevron-right.d-sm-none
				+icon('chevron-right')
			+e.data-item.donate-target
				.data-txt Требуется
				.money-str=needMoney