// start .sDonateTargetPreheader
.sDonateTargetPreheader {
	position: relative;

	&__bg-block{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content-block{
		position: relative;
		z-index: 2;

		padding-top: 35px;
		@include media-breakpoint-up(sm){
			padding-top: rem(78px);
		}
	}
	//top-txt-block
	&__top-txt-block{
		max-width: 596px;
		margin-left: auto;
		margin-right: auto;

		padding-bottom: 65px;//27 + 46
		@include media-breakpoint-up(sm){
			padding-bottom: rem(86);// 40 + 46
		}

		h2{
			margin-left: auto;
			margin-right: auto;
			max-width: 265px;
			@include media-breakpoint-up(sm){
				margin-left: 0;
				margin-right: 0;
				max-width: 100%;
			}

			font-family: $mono;
			font-weight: 500;
			line-height: 120%;
			color: $dark2;

			font-size: 24px;
			@include media-breakpoint-up(md){
				font-size: rem(36px);
			}

			margin-bottom: 15px;
		}
		i{
			display: block;
		}
	}
	&__location-link{
		text-decoration: none !important;
		display: inline-flex;
		vertical-align: top;
		align-items: center;
		.icon{
			font-size: rem(16);
			color: $primary;
			margin-right: rem(10px);
		}
		span{
			font-size: 13px;
			@include media-breakpoint-up(sm){
				font-size: rem(16px);
			}
			line-height: 120%;
			color: rgba(80, 87, 105, 0.5);
		}
	}

	//donate link
	&__donate-btn{
		@extend .donate-btn-frame;
	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sDonateTargetPreheader

.donate-target-slider{
	padding-bottom: rem(25);

	.swiper-container{
		overflow: visible;
	}
	.swiper-wrapper{}
	.swiper-slide{
		position: relative;
		width: auto;
		z-index: 1;

		@include media-breakpoint-down(sm){
			opacity: 0;
		}
		.progress-bar{
			opacity: 0;
		}

		&.center-slide{
			z-index: 3;
			opacity: 1;

			.we-need-txt{
				opacity: 1;
			}

			.video-link,
			.progress-bar,
			.play-btn{
				opacity: 1;
			}

			.video-img-block:after{
				opacity: 0;
			}

			.video-img-block{
				min-height: 200px;
			}
			//

			.slide-content{
				padding-top: 0px;

				width: calc(100vw - 40px);
				left: calc(-1 * (100vw - 40px - 100%) / 2);
				@include media-breakpoint-up(sm){
					width: 500px;
					left: calc(-1 * (500px - 100%) / 2);
				}
				@include media-breakpoint-up(md){
					width: 555px;
					left: calc(-1 * (555px - 100%) / 2);
				}
			}
		}
		&.center-neighbor{
			opacity: 1;
			z-index: 2;

			.video-img-block{
				min-height: 180px;
			}

			.slide-content{
				padding-top: 10px;
				width: calc(100vw - 80px);
				left: calc(-1 * (100vw - 80px - 100%) / 2);
				@include media-breakpoint-up(sm){
					padding-top: 20px;
					width: 420px;
					left: calc(-1 * (420px - 100%) / 2);
				}
				@include media-breakpoint-up(md) {
					width: 490px;
					left: calc(-1 * (490px - 100%) / 2);
				}
			}
		}
		&:not(.center-slide){
			.slide-content:after{
				content: '';
				position: absolute;
				cursor: pointer;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				//background-color: red;
				//border: 1px solid;
			}
		}
	}
	//
	.slide-content{
		padding-top: 70px;

		transition: all .15s;
		@include media-breakpoint-up(sm){
			transition: all .85s;
		}
		//transition: opacity .35s ease-in-out .15s, width .45s ease-in-out, padding .5s;
		//@extend .smooth-tr-opacity;
		position: relative;
	}
	.we-need-txt{
		position: absolute;
		width: 100%;
		height: auto;
		left: 0;
		bottom: calc(100% + 20px);

		opacity: 0;
		@include mt();
		font-weight: bold;
		line-height: 135%;
		color: $dark2;


		font-size: 21px;
		@include media-breakpoint-up(sm){
			font-size: rem(26px);
		}
		//margin-bottom: rem(20);
	}
	.video-link{
		@include mt();
		width: 100%;
		position: relative;
		padding-top: 61.26%;


		margin-bottom: rem(26px);
	}
	.video-img-block{
		@include mt();
		&:after{
			opacity: 1;
			@include mt();
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 8px;
			background: rgba($white, .6);
		}

		position: absolute;
		width: 100%;
		height: 100%;

		@include media-breakpoint-up(sm){
			min-height: 200px;
		}
		left: 0;
		top: 0;
		img{
			@include mt();
			border-radius: 8px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.play-cont{
		border-radius: 8px;
		//overflow: hidden;

		position: absolute;
		width: 100%;
		height: 100%;
		min-height: 200px;
		left: 0;
		top: 0;
		@include media-breakpoint-up(md){
			box-shadow: 0px 16px 32px rgba(80, 87, 105, 0.3);
		}
	}
	//play-btn
	.play-btn{
		opacity: 0;
		@include mt();

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		display: flex;
		border-radius: 50%;
		border: 2px solid $white;

		width: 60px;
		height: 60px;
		@include media-breakpoint-up(sm){
			width: rem(80);
			height: rem(80);
		}
		@include media-breakpoint-up(lg){
			width: rem(100);
			height: rem(100);
		}

		//paint before
		color: #ffffff;
		&:hover {
			color: #C5AA79;
		}

		//play-mark
		&::before {
			content: '';

			@include media-breakpoint-up(xl) {

				@include triangle(rem(44* .9) rem(40 * .9), currentColor, right);
			}

			@include triangle( (44px * .6)  (40px  * .6), currentColor, right);
			@include a-cent;
			margin-left: 5%;
		}
	}

	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
}

.progress-bar{
	@include mt();
	&__container{
		height: 30px;
		width: 100%;
		position: relative;

		margin-bottom: rem(11);
	}
	&__unready-strip{
		position: absolute;
		z-index: 1;
		left: 0;
		top: 10px;

		width: 100%;
		height: 10px;
		background: $white;
		border: 1px solid #C4C4C4;
		border-radius: 8px;
	}
	&__ready-strip{
		position: absolute;
		z-index: 2;
		left: 0;
		top: 10px;

		background: $primary;
		border-radius: 8px;
		height: 10px;

		&:after{
			//txt align
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			//txt style
			font-family: $mono;
			font-weight: 500;
			font-size: rem(21px);
			line-height: 120%;
			color: $dark2;



			content: '100%';
			height: 30px;
			width: 70px;

			border-radius: 15px;//20??
			background: $white;
			border: 1px solid $primary;

			position: absolute;
			right: 0;
			top: 50%;
			transform: translateX(50%) translateY(-50%);
		}
	}
	&__data-cont{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__data-item{
		@include media-breakpoint-up(sm){
			display: flex;
			align-items: flex-end;
		}

		.data-txt{
			font-size: rem(16px);

			color: rgba(60, 65, 79, 0.5);

			line-height: 120%;
			@include media-breakpoint-up(sm) {
				margin-right: rem(9);
				line-height: 165%;
			}
		}
		.money-str{
			font-family: $mono2;
			font-weight: 500;
			line-height: 120%;
			color: $dark;

			font-size: 24px;
			@include media-breakpoint-up(sm){
				font-size: rem(30px);
			}
		}
	}
	&__chevron-right{
		display: flex;
		vertical-align: center;
		.icon{
			font-size: 10px;
			color: transparent;
			stroke: $dark2;
		}
	}
}

.smooth-tr-opacity{
	transition: opacity .3s;
}