mixin video-item()
	+b.video-item
		+e.img-wrap(href="https://www.youtube.com/watch?v=en6gms6e54Q&list=PLIU76b8Cjem5B3sufBJ_KFTpKkMEvaTQR" data-fancybox="video")
			+e.play
			img.res-i(src="img/@2x/video.jpg", alt="")
		+e.caption  
			+e.top-title Новоспасский монастырь
			p
				a(href="#").strong Благоукрашение Знамеского храма Новоспасского монатсыря
			+e.foot
				+e.date  13.08.19
				+e.foot-item
					+icon("eye")
					| 45

				+e.foot-item
					+icon("share")
					| 18
mixin artical-item(i,p)
	+e.slide--artical.swiper-slide
		+b.video-item--artical(href="#") 
			+e.DIV.img-wrap--artical
				img.res-i(src=`img/@2x/artical-${i}.jpg`, alt="")
			+e.DIV.caption--artical   
				p.strong.mb-auto= p
				+e.btn ЧИТАТЬ
				+e.DIV.foot
					+e.date  13.08.19
					+e.foot-item
						+icon("eye")
						| 45

					+e.foot-item
						+icon("share")
						| 18

mixin s-news()
	// start s-news
	+b.SECTION.s-news.section#s-news&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Новости 
			.row
				.col
					mixin item(text)
						+b.news-item
							.container
							.row
								.col-auto
									+e.img-wrap--lg(href="#")
										img.res-i(src="img/@2x/projec-2.jpg", alt="")
								.col
									+e.small
										a.link-hover(href="#").strong  НОВОСТИ ФОНДА
									+e.title
										a(href="#").strong Происхождение (изнесение) честных древ животворящего Креста Господня
									.d-none.d-md-block
										block
										if text 
											+foot
									+e.small-gal
										- for (var x = 0; x < 4; x++)
											+e.img-link(href="img/@2x/project-main-1.jpg" data-fancybox="news-gal")
												img.res-i(src="img/@2x/project-main-1.jpg", alt="")
									mixin foot()
										+e.foot
											+e.date  13.08.19
											+e.foot-item
												+icon("eye")
												| 45
		
											+e.foot-item
												+icon("share")
												| 18
									if !text 
											+foot
							.d-md-none
								block
								if text 
									+foot
						// /+b.news-item
					+item()
					+e.slider-wrap.d-lg-none
						+e.inner
							+e.slider--js.swiper-container
								.swiper-wrapper
									- for (var x = 0; x < 5; x++)
										+e.slide.swiper-slide
											+video-item()
					+item('text')
						p Этап по&nbsp;укладке полов в&nbsp;Знаменском храме Новоспасского монастыря завершен. Благодаря отделке из&nbsp;иерусалимского камня, храм приобрел светлый и&nbsp;торжественный вид. В&nbsp;этом смогли убедиться гости сегодняшней экскурсии, которую уже не&nbsp;в&nbsp;первый раз проводит в&nbsp;Новоспасском монастыре наш Фонд.
					.d-none.d-lg-block
						+item()
				.col-auto.d-none.d-lg-block
					+b.video
						
						+video-item()
						+video-item()
			+e.slider.slider-auto-mob-js.swiper-container
				.swiper-wrapper
					+artical-item('1','Благотворительность как пример нравственного служения Церкви и обществу')
					+artical-item('2','Воспоминание Чуда Архангела Михаила в Хонех')
					+artical-item('3','Благотворительность  как пример нравственного служения Церкви и обществу')
					+artical-item('4','Воспоминание Чуда Архангела Михаила в Хонех')
			.d-sm-none
				+item()
			+e.btn.btn-more(href="#") ВСЕ НОВОСТИ
	// end s-news