mixin video-item()
	+b.video-item
		+e.img-wrap(href="https://www.youtube.com/watch?v=en6gms6e54Q&list=PLIU76b8Cjem5B3sufBJ_KFTpKkMEvaTQR" data-fancybox="video")
			+e.play
			img.res-i(src="img/@2x/video.jpg", alt="")
		+e.caption  
			p
				a(href="#") Благоукрашение Знамеского храма Новоспасского монатсыря
			+e.foot
				+e.date  13.08.19
				+e.foot-item
					+icon("eye")
					| 45

				+e.foot-item
					+icon("share")
					| 18
mixin s-news()
	// start s-news
	+b.SECTION.s-news.section#s-news&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Новости 
			.row
				.col
					mixin item()
						+b.news-item
							.container
							.row
								.col-auto
									+e.img-wrap--lg(href="#")
										img.res-i(src="img/@2x/projec-2.jpg", alt="")
								.col
									+e.small  НОВОСТИ ФОНДА
									+e.title
										a(href="#") Происхождение (изнесение) честных древ животворящего Креста Господня
									+e.small-gal
										- for (var x = 0; x < 4; x++)
											+e.img-link(href="img/@2x/project-main-1.jpg" data-fancybox="news-gal")
												img.res-i(src="img/@2x/project-main-1.jpg", alt="")
									+e.foot
										+e.date  13.08.19
										+e.foot-item
											+icon("eye")
											| 45
	
										+e.foot-item
											+icon("share")
											| 18
						// /+b.news-item
					+item()
					+e.slider-wrap.d-lg-none
						+e.inner
							+e.slider--js.swiper-container
								.swiper-wrapper
									- for (var x = 0; x < 5; x++)
										+e.slide.swiper-slide
											+video-item()
					+item()
					+item()
				.col-auto.d-none.d-lg-block
					+b.video
						
						+video-item()
						+video-item()
			+e.btn.btn-more(href="#") ВСЕ ПРОЕКТЫ
	// end s-news