// start .s-news
.video-item {
	margin-bottom: rem(20);

	@include media-breakpoint-down(lg) {
		color: #ffffff;
	}

	&__play {
		@include a-cent;
		width: rem(51px);
		height: rem(51px);

		border: 1px solid #ffffff;
		display: block;
		border-radius: 50%;
		z-index: 4;

		&::before {
			content: '';

			@include media-breakpoint-up(xl) {}

			@include triangle(rem(19 * .9) rem(19 * .9), currentColor, right);
			// @include triangle(rem(19 * .9 / 2) rem(19 * .9 / 2), currentColor, right);
			@include a-cent;
			margin-left: 5%;
		}
	}

	&__img-wrap {
		display: block;
		border-radius: 8px;
		background-color: rgba(60, 65, 79, 1);
		overflow: hidden;
		box-shadow: 0 $em-base 32px rgba(80, 87, 105, 0.25);
		@include block(36, 22);
		position: relative;
		@extend .link-hover;
		color: #ffffff;

		&:hover {
			box-shadow: 0px 16px 32px rgba(197, 170, 121, 0.25);
		}

		img {
			// @extend .object-fit-js;
			position: absolute;
			opacity: 0.5;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__foot-item {
		padding-left: rem(15);
		padding-right: rem(15);
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		position: relative;


		&:not(:last-child)::after {
			content: '';
			position: absolute;
			@include a-cent(y);
			right: 0;
			width: 1px;
			height: rem(20px);
			background-color: currentColor;
		}

		.icon {
			margin-right: rem(4);
		}

		.icon-eye {
			font-size: rem(14);
		}

		.icon-donate {
			font-size: rem(17);
		}

		.icon-share {
			font-size: rem(18);
		}
	}

	&__foot {
		display: flex;

		@include media-breakpoint-up(lg) {


			color: rgba(80, 87, 105, 0.5);
		}

		color: rgba(255, 255, 255, 0.7);

		@include media-breakpoint-down(lg) {}

		align-items: center;
		font-size: $small;
	}

	&__date {
		margin-right: rem(30);
		flex-grow: 1;
	}

	&__caption {
		padding: rem(20) rem(30);
		padding-right: 0;

		a {
			text-decoration: none !important;
			@extend .link-hover;

			@include media-breakpoint-up(lg) {
				color: #505769;
			}

			color: #ffffff;

			&:not(:hover) {}
		}
	}

	@include media-breakpoint-up(xl) {}


	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.s-news

.video {
	width: rem(360);
}