mixin s-continue()
	// start s-continue
	+b.s-continue#s-continue&attributes(attributes)
		.container
			if block
				block
			else
				.s-continue-wrapper
					+e.group
						+e.group-title Цель сбора 
						+e.select-wrap
							select.custom-select
								mixin option(p, i)
									option(value= p data-img-src= (i || 'img/@1x/video.jpg'))&attributes(attributes)= p
								+option('Уставные цели фонда','img/svg/logo-color.svg')
								optgroup(label='Проекты фонда')
									+option('Новоспасский монастырь')
									+option('Храма свт. Николая Чудотворца в селе Мужиново, Брянская обл.')
									+option('Храм равноапостольного князя Владимира, п. Станционный-Полевской, Свердловская обл.')
									+option('Молитвенный дом Архангела Михаила, с. Каменный Брод, Пензенская обл.')
									+option('Храма свт. Николая Чудотворца в селе Мужиново, Брянская обл.')
									+option('Новоспасский монастырь')
									+option('Храм равноапостольного князя Владимира, п. Станционный-Полевской, Свердловская обл.')
									+option('Молитвенный дом Архангела Михаила, с. Каменный Брод, Пензенская обл.')
					+e.group
						+e.group-title Способ пожертвования
						mixin item(i, t, p, i2)
							+b.LABEL.item-method
								input(type="radio" name="meth")
								+e.inner
									+e.icon-wrap
										if block
											block
										else
											img(src=`img/@2x/${i}`, alt="")
									+e.caption
										+e.title= t
										+e.text= p
										if i2
											img(src=`img/@2x/${i2}`, alt="")
						+item("",'Банковской картой','Пожертвование с банковской карты','bank_icons.png')
							+icon("s-why-1")
						+item("",'СМС-Пожертвование ','Отправить сообщение или перевести со счёта','phone_icons.png')
							+icon("s-why-2")
						+item("",'по Квитанции','Квитанция для оплаты в банке','')
							+icon("doc")
						+item("qiwi_sign_rgb.png",'с QIWI кошелька','Пожертвование с помощью банковской карты или  QIWI-кошелька','')
						
						+item("paypal.png",'со счёта paypal','Перевод со счёта Paypal','')
						+item("",'НАЛИЧНЫМИ','Адреса инфо-стоек фонда в Москве','') 
							+icon("s-why-3")  
						p.pt-3 Если ни&nbsp;один из&nbsp;перечисленных способов оказания помощи вам не&nbsp;подходит, получить необходимые банковские реквизиты и&nbsp;ответы на&nbsp;все интересующие вас вопросы можно связавшись с&nbsp;нами по&nbsp;телефону или электронной почте.
						p   Телефон.: #[a.text-body(href="tel:8800 250-75-25") 8&nbsp;800 250-75-25] (звонок по&nbsp;России бесплатный)
							br
							| Тел./факс: #[a.text-body(href="tel:8495 926-35-63") 8&nbsp;495 926-35-63]
							br
							| e-mail: #[a.text-body(href="mailto:rusfond@rusfond.ru") rusfond@rusfond.ru]
	// end s-continue