$default-font: 'Circe';
$mono: 'GaramondPremrPro';
// $file-form: ($file-formats: woff2 woff ttf);
$addr: '../fonts/';
$file-format: woff2 woff ttf;

@include font-face ($default-font, $addr + "Circe-Regular", 400, $file-formats: $file-format);
@include font-face ($default-font, $addr + "Circe-Bold", bold, $file-formats: $file-format);
@include font-face ($mono, $addr + "GaramondPremrPro", 400, $file-formats: $file-format);
@include font-face ($mono, $addr + "GaramondPremrPro-It", 400, italic, $file-formats: $file-format);
@include font-face ($mono, $addr + "GaramondPremrPro-Med", 500, $file-formats: $file-format);
@include font-face ($mono, $addr + "GaramondPremrPro-MedIt", 500, italic, $file-formats: $file-format);

// font-weight helper:

// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold