mixin sNewsPage027()
	// start sNewsPage027
	+b.SECTION.sNewsPage027#sNewsPage027&attributes(attributes)
		.container
			block
		.container
			+b.search-strip-025
				+form-wrap()
					+input('Например: Новоспаский монастырь', 'text', undefined, 'search-page025')
					.text-center
						+e.BUTTON.search-btn(type="submit") ИСКАТЬ
			+b.news-filter-box
				+e.date-filter-select-cont
					+DatefilterSelect('floorSel', ['СТАРЫЕ', '2020', '2019'])
				+e.date-filter-select-cont.right-select.d-xl-none
					+ThemefilterSelect('floorSel', ['СТАРЫЕ', '2020', '2019'])
		.container(data-sticky-container)
			+b.sidebar.d-none.d-xl-block
				+e.UL.nav.sticky-js(data-margin-top="120")
					li: a(href="#video") Видео презентация
					li: a(href="#about-icon") Наша миссия
					li: a(href="#wonder-cases") Наши задачи
					li: a(href="#wonder-cases") Наши ценности
					li: a(href="#wonder-cases") Ключевые  достижения
			+e.content
				+e.items-bricks-row.row
					+BigItemBrick-027()
					+ItemBrick-027()
					+ItemBrick-027()
					+ItemBrick-027()
					+ItemBrick-027()
					+ItemBrick-027()
					+ItemBrick-027()
					+ItemBrick-027()
				.d-none.d-sm-block
					+pugin()
				.d-sm-none.text-center
					+e.A.show-more-btn(href="#") ПОКАЗАТЬ ЕЩЁ
	// end sNewsPage027

mixin ItemBrick-027(displayClasses='')
	.col-12.col-md-6.col-lg-4(class=displayClasses)
		+e.brick-item
			+e.A.brick-item-img(href="#")
				img(src="img/@2x/027-news-brick-item.jpg" alt="")
			+e.brick-item-descr-box
				+e.A.brick-item-title(href="#") Благотворительность  как пример нравственного служения Церкви и обществу
				+e.date-view-share-cont
					+e.date-txt 13.08.20
					+e.view-txt.view-shar-frame
						+icon('eye')
						span 45
					+e.share-txt.view-shar-frame
						+icon('share')
						span 45

mixin BigItemBrick-027()
	.col-12.col-lg-8
		+e.A.big-brick-item(href="#")
			+e.big-brick-item-img
				img(src="img/@2x/027-big-brick-item.jpg" alt="")
			+e.big-brick-item-descr-box
				+e.big-brick-item-title Благотворительность  как пример нравственного служения Церкви и обществу
				+e.date-view-share-cont
					+e.date-txt 13.08.20
					+e.view-txt.view-shar-frame
						+icon('eye')
						span 45
					+e.share-txt.view-shar-frame
						+icon('share')
						span 45

mixin newsAllThemesBlock()
	+b.all-themes-block.d-xl-none
		+e.all-themes-btn Все темы

