// start .s-project
.s-project {

	&__slider--3-js{

		@include media-breakpoint-up(lg) {
			max-width: none;
		}
		
		@include media-breakpoint-up(sm) {
			max-width: 450px;
		}

	}

	&__slider {
		@include media-breakpoint-up(xl) {

			// margin-bottom: rem(80);
		}

		@include media-breakpoint-up(sm) {

			margin-bottom: rem(60);
		}

		margin-bottom: 30px;
	}


	@include media-breakpoint-up(xl) {

		.swiper-slide-prev {
			margin-right: rem(110) !important;
			opacity: 0.25;

			.project-item {

				pointer-events: none;
			}
		}
	}

	@include media-breakpoint-up(xl) {

		.swiper-slide {
			opacity: 0.25;
		}
	}

	.swiper-slide-active {
		padding: 0 !important;
		opacity: 1 !important;

		@include media-breakpoint-up(xl) {

			+.s-project__slide--lg.swiper-slide,
			+.s-project__slide--lg.swiper-slide+.s-project__slide--lg.swiper-slide {
				opacity: 1;
			}

			+.s-project__slide--lg.swiper-slide+.s-project__slide--lg.swiper-slide+.s-project__slide--lg.swiper-slide {
				margin-left: rem(80) !important;
				opacity: 0.25;

				.project-item {

					pointer-events: none;
				}
			}

			+.s-project__slide--sm.swiper-slide+.s-project__slide--sm.swiper-slide {
				margin-left: rem(80) !important;
				opacity: 0.25;

				.project-item {

					pointer-events: none;
				}
			}

			+.s-project__slide--sm.swiper-slide {
				opacity: 1;
			}

			+.s-project__slide--sm.swiper-slide+.s-project__slide--sm.swiper-slide+.s-project__slide--sm.swiper-slide {
				margin-left: rem(0) !important;
				opacity: 0.25;

				.project-item {

					pointer-events: none;
				}
			}

		}
	}

	.swiper-slide-next {
		// padding-left: rem(90);
	}

	&__btn {
		@extend .btn-outline-primary;
		// background-color: #ffffff !important;
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {
		padding-bottom: rem(20);
		padding-top: rem(75);

	}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {
		.swiper-button-hand {
			display: none !important;
		}
	}

	@include media-breakpoint-down(xs) {
	 
	
		padding-bottom: rem(60);
	}

	@include media-breakpoint-down(md) {
		&__container-sm {
			// max-width: 450px;
		}

		&__slide--sm {
			@include media-breakpoint-up(xl) {

				max-width: 440px;
			}
			max-width: 450px;
		}
	}

	@include media-breakpoint-down(sm) {
		&__container-sm {
			// max-width: rem(440px);
		}

	}

	@include media-breakpoint-down(xs) {
		&__container-sm {
			// max-width: rem(340px);
		}
		
		&__slide--sm {
			max-width: 310px;
		}
		&--first &__head{
			// background-color: #AA3F59;
		}
		position: relative;
		z-index: 2;
	

		&--cases {
			@media (max-width: 575.98px) {

				.project-lg__center-text { 
					min-height:4.375rem; 
				}
			}
			.project-lg{
				picture,
				&::before{
					top:-20%;
				}
				&::before{
					background-image: linear-gradient(180deg, #FCFAF8 0%, rgba(252, 250, 248, 0.6));
					opacity: 0.5;
				}
				picture{
					
					}
				}
				.project-lg-wrap__btn{
					background: $primary !important;
					border-color:$primary;
					color: #ffffff !important;
				}
				h2{
					color: rgba(80, 87, 105, 0.5);
				}
				.project-lg,
				.project-lg__title a{
					color: #505769 !important;
				}
				.project-lg__play{
					background-color: #ffffff;
					border-color: $primary;
					color: $primary;
					&::before{
						
					}
				}
			}
		}
		
	}

	@include media-breakpoint-down(xs) {
	.main-page{
		.s-project{
				&__container-sm,
				&__container {
					max-width: 310px;
					position: relative;
					z-index: 2;
				}
					&--first {

						&::before {
							content: '';
							position: absolute;
							z-index: -1;
							width: 100%;
							top: 0%;
							left: 0;
							height: 40%;
							// background-color: #AA3F59;
							background: linear-gradient(180deg, #AA3F59 60%, rgba($color: #AA3F59, $alpha: 0.1) 100%);
							// background-color: rgba($color: #000000, $alpha: 1.0);
						}
						.project-lg {
							&::before {
								background: linear-gradient(180deg, #AA3F59 0%, rgba(170, 63, 89, 0) 42.19%, #FCFAF8 100%),
								linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
							}
						}
						.project-lg-wrap {}
					}
				.project-lg {
					overflow: inherit;
					background: none;
					box-shadow: none;
					border-radius: 0;

					picture {
						opacity: 0.6;
						top: -20%;
						height: 160%;
						background: none;
					}

					&::before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						z-index: 2;
						width: 100%;
						
						mix-blend-mode: normal;
						height: 160%;
						top: -20%;
						pointer-events: none;
					}
				}

				h2 {
					color: rgba(255, 255, 255, 0.5);
					position: relative;
					z-index: 3;
				}
					.container {
						padding-left: 0;
						padding-right: 0;
					}
  
				}

		}
		.project-lg{

		}
	}
	
	// end.s-project
		@include media-breakpoint-down(xs) {
			.s-project--cases{
				padding-top: 60px;
				.project-lg::before{

					// height: 150% !important;
					display: none;
				}
				
				.project-lg .picture-bg {
					// height: 150% !important;
					// position: relative;
					&::before{
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						
						background-image: linear-gradient(180deg, #FCFAF8 0%, rgba(252, 250, 248, 0.6) 47.92%, #FDFBF9 100%)
					}
					}
				.s-project__slider,
				.project-lg {

					padding-left: 20px !important;
					padding-right: 20px !important;
				}
				h2{
					color: rgba(80, 87, 105, 0.5) !important;
				}
				.container{
					max-width: 100%;
				}
			}
			.s-project__slider--cases{
				.swiper-slide{
					width: 100% !important;
					max-width: 100%;
				}
				.swiper-slide:nth-child(n + 4),
				.swiper-slide-duplicate{
					display: none !important;
				}
				.swiper-wrapper{
					display: block;
					transform: translate3d(0px, 0, 0) !important;
				}
				.s-project__slide{
					margin-bottom: 20px;
					margin-right: 0 !important;
					max-width: none !important;
				}
				.project-item__hidden{
					display: none !important;
					height: initial !important;
					opacity: 1 !important;
					&.active{
						display: block !important;
					}
				}
			}
		}