.project-lg {
  display: flex;
  justify-content: space-between;
  @include block(1140, 700);

  @include media-breakpoint-down(xs) {
    margin-left: -15px;
    margin-right: -15px;
  }

  color: #FFFFFF;

  &__head {
    position: absolute;
    left: 0;
    top: 0;

    @include media-breakpoint-up(xl) {

      padding: rem(43) rem(50) rem(20);
    }

    @include media-breakpoint-up(sm) {

      padding: rem(30) rem(25) rem(20);
    }

    padding: rem(30) rem(15) rem(20);
  }



  // padding: rem(30) rem(15) rem(20);
  background-color: rgba(60, 65, 79, 1);

  picture {
    opacity: 0.4;
  }

  &--blue {

    picture {
      opacity: 0.4;
    }

    // opacity: 0.6;
    background: rgba(0, 66, 103, 1);
  }

  mix-blend-mode: normal;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(sm) {

    border-radius: 8px;
    box-shadow: 0px 16px 32px rgba(80, 87, 105, 0.3);
  }

  // @include media-breakpoint-up(xl) {

  //   height: rem(700);
  // }

  // @include media-breakpoint-up(sm) {

  //   height: rem(430);
  // }

  // height: rem(370);
  z-index: 2;




  &__label {
    letter-spacing: 0.1em;
    background-image: linear-gradient(90deg, #CF2500 0%, #FF4545 100%);
    border-radius: 20px;
    display: inline-block;
    border-radius: rem(20);

    @include media-breakpoint-up(lg) {

      padding: em(3) em(15);
      min-width: em(25);
      font-size: rem(13);
    }

    padding: em(5) em(15) em(3);
    min-width: em(25);
    font-size: rem(11);
    text-align: left;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;

    &:first-letter {
      font-size: 1.32em;
    }

    @include media-breakpoint-down(xs) {
      padding: rem(1) rem(5);
      text-align: left;
      min-width: rem(20);
      font-size: rem(10);
    }

    z-index: 4;
    position: relative;
    // margin-bottom: rem(3);
    // text-transform: uppercase;

  }

  &__title {
    z-index: 4;
    position: relative;
    // @extend .h1;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {

      font-size: rem(36);
    }

    @include rfs(rem(28));

    @include media-breakpoint-down(xs) {
      font-size: rem(18);
    }

    @extend .mono;
    font-family: $mono2;
    // margin-top: rem(5);
    // font-size: 48px;
    max-width: em(170);
    line-height: 1.14;
    min-height: 4em;

    em {
      font-size: .8em;
      text-transform: none;
      display: block;
      // display: inline-block;
    }

    &:first-letter {
      font-size: 1.4em;
    }

    a {
      color: #ffffff;

      &:hover {
        color: $primary;
      }

      &:focus {
        color: #B9A073;
      }
    }
  }

  a {
    text-decoration: none !important;
  }

  &__center {
    position: absolute;
    width: 100%;

    @include media-breakpoint-up(md) {

      top: 25%;
    }

    top: 20%;

    // top: 0;
    left: 0;
  }

  &__play {
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(xl) {

      width: rem(160px);
      height: rem(160px);
      border: 3px solid #ffffff;
      margin-top: rem(90);
    }

    border: 1px solid #ffffff;

    @include media-breakpoint-down(xs) {
      width: rem(60);
      height: rem(60);
    }

    margin-top: rem(50);
    width: rem(80);
    height: rem(80);
    display: block;
    color: #ffffff;
    border-radius: 50%;
    position: relative;
    margin-bottom: rem(10);

    &:hover {
      color: #C5AA79;
    }

    &:focus {
      color: #B9A073;
    }

    &::before {
      content: '';

      @include media-breakpoint-up(xl) {

        @include triangle(rem(70 * .9) rem(64 * .9), currentColor, right);
      }

      @include triangle(rem(70 * .9 / 2) rem(64 * .9 / 2), currentColor, right);
      @include a-cent;
      margin-left: 5%;
    }
  }

  &__center-text {

    // @extend .h2;
    @include media-breakpoint-up(xl) {

      font-size: rem(36);
    }

    @include media-breakpoint-down(xs) {
      font-size: 1.2rem;
    }

    font-size: rem(30);
    @include rfs(rem(30));
    @extend .mono;
    margin-bottom: rem(55);
    margin-left: auto;
    margin-right: auto;
    max-width: em(206);
    text-align: center;
    line-height: 1.2;
    // margin-bottom: rem(20);
  }

  ul {
    margin-left: auto;
    width: 100%;
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 0;

    @include media-breakpoint-up(xl) {

      max-width: rem(146 + 100);
      padding: rem(43) rem(50) rem(20);
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }

    display: none;

    @include media-breakpoint-up(sm) {
      max-width: rem(146 + 50);

      padding: rem(30) rem(25) rem(20);
    }

    max-width: rem(146 + 30);

    padding: rem(30) rem(15) rem(20);
  }

  li {

    // letter-spacing: 0.32px;
    letter-spacing: 0.02em;
    line-height: 1;
    margin-bottom: rem(50);

    strong {
      color: $primary;
      @extend .mono;
      font-size: $h2-font-size;
      font-weight: 400;
      font-style: italic;
      line-height: 1;
      display: block;
      margin-bottom: rem(5);
    }
  }
}

.project-lg-wrap {
  position: relative;
  margin-bottom: rem(60);

  &__btn {
    color: #ffffff;

    @include media-breakpoint-up(xl) {

      padding: rem(6);
      padding-top: rem(6 * 1.2);
      padding-bottom: rem(6 * .8);
    }

    padding-top: rem(8 * 1.2);
    padding-bottom: rem(8 * .8);
    bottom: 11%;

    @include media-breakpoint-up(xl) {
      background-color: transparent !important;
      border-color: #ffffff;
      // display: block;
      @include a-cent(x);
      z-index: 50;

      &:hover {
        background-color: #FFFFFF !important;
        /* Тень видео */
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
        color: #C5AA79;
      }

      &:focus {
        color: #FFFFFF;
        background-color: #B9A073 !important;
        border-color: #B9A073 !important;
        box-shadow: 0px 4px 8px rgba(197, 170, 121, 0.5) !important;
      }

      margin-top: 0;
    }

    margin-top: rem(40);
    background-color: $primary !important;
    box-shadow: 0px 8px 16px rgba(197, 170, 121, 0.25);

    &:hover {
      background: #B9A073 !important;
      box-shadow: 0px 8px 16px rgba(197, 170, 121, 0.25);
      color: #fff;
    }

  }
}