mixin s-project-list()
	// start s-project-list
	+b.s-project-list.section#s-project-list&attributes(attributes)
		.container
			mixin item(t, v)
				+b.project-item-list
					.row
						.col-auto
							+e.img-wrap(href="#")
								if v
									+e.play
								img(src=`img/@2x/projec-${i || 1}.jpg`, alt="")
						.col
							block
							+e.title
								a(href="#")!= t
							+e.foot.d-none.d-lg-flex
								+e.foot-item
									+icon("eye")
									| 45
								
								+e.foot-item
									+icon("donate")
									| 133
								+e.foot-item
									+icon("share")
									| 18
						+e.right-col.col-auto.d-none.d-lg-block
							+e.price
								.row
									.col-6
										+e.price-title Собрано
										+e.number 399 050 860 Р
									.col-6
										+e.price-title Требуется
										+e.number 500 000 000 Р 
							+e.btn-wrap
								+e.btn.btn-sm(href="#") ПОМОЧЬ ХРАМУ
			+item('Новоспасский монастырь')
				+e.label Основной проект фонда
			+item(`Храмовый комплекс св. муч. Анатолия и Протолеона, <em>г. Москва</em>`,'v')
			+item(`Храм в честь святого мученика Иоанна Воина, <em>г. Челябинск</em>`)
			+item(`Храм Воскресения Христова, <em>р.п. Павловка, Ульяновская обл.</em>`)
			+item('Храм равноапостольного князя Владимира,  п. Станционный-Полевской, Свердловская обл.')
			+item('Храм Воскресения Христова, р.п. Павловка, Ульяновская обл.')
			+item('Храм равноапостольного князя Владимира, <em>п. Станционный-Полевской, Свердловская обл.</em>')
			.d-none.d-sm-block
				+pugin()
			.d-sm-none.text-center
				+e.btn.btn-outline-primary.btn-more(href="#") ПОКАЗАТЬ ЕЩЁ
		
	// end s-project-list

	
mixin s-project-list-done()
	// start s-project-list
	+b.s-project-list.section#s-project-list&attributes(attributes)
		.container
			mixin item(t, v)
				+b.project-item-list
					.row
						.col-auto
							+e.img-wrap(href="#")
								if v
									+e.play
								img(src=`img/@2x/projec-${i || 1}.jpg`, alt="")
						.col
							block
							+e.title
								a(href="#")!= t
							+e.foot.d-none.d-lg-flex
								+e.foot-item
									+icon("eye")
									| 45
								
								+e.foot-item
									+icon("donate")
									| 133
								+e.foot-item
									+icon("share")
									| 18
						+e.right-col.col-auto.d-none.d-lg-block
							+e.price
								.row
									.col-6
										+e.price-title Собрано
										+e.number 399 050 860 Р
									.col-6
										+e.price-title Требуется
										+e.number 500 000 000 Р 
							+e.btn-wrap
								+e.btn.btn-outline-primary.btn-sm(href="#") Подробнее
			+item('Новоспасский монастырь')
				+e.label Основной проект фонда
			+item(`Храмовый комплекс св. муч. Анатолия и Протолеона, <em>г. Москва</em>`,'v')
			+item(`Храм в честь святого мученика Иоанна Воина, <em>г. Челябинск</em>`)
			+item(`Храм Воскресения Христова, <em>р.п. Павловка, Ульяновская обл.</em>`)
			+item('Храм равноапостольного князя Владимира,  п. Станционный-Полевской, Свердловская обл.')
			+item('Храм Воскресения Христова, р.п. Павловка, Ульяновская обл.')
			+item('Храм равноапостольного князя Владимира, <em>п. Станционный-Полевской, Свердловская обл.</em>')
			.d-none.d-sm-block
				+pugin()
			.d-sm-none.text-center
				+e.btn.btn-outline-primary.btn-more(href="#") ПОКАЗАТЬ ЕЩЁ
		
	// end s-project-list

