mixin sAboutTemple()
	// start sAboutTemple
	+b.SECTION.sAboutTemple#sAboutTemple&attributes(attributes)
			.container
				block
			.container(data-sticky-container)
				+b.sidebar
					+e.UL.nav.sticky-js(data-margin-top="120")
						li: a(href="#video") Видео презентация
						li: a(href="#about-icon") Наша миссия
						li: a(href="#wonder-cases") Наши задачи
						li: a(href="#wonder-cases") Наши ценности
						li: a(href="#wonder-cases") Ключевые  достижения
				+e.content
					#temple-descr
						+e.group
							+b.temple-descr-bl021
								+e.portrait-cont.d-none.d-lg-block
									+e.portrait-img-cont
										img(src="img/@2x/king-portrait.png" alt="")
									+e.portraint-name
										|Царь
										br
										|Михаил
										br
										|Феодорович
								+e.top-txt-block
									p Знаменская церковь&nbsp;&mdash; небольшой уютный храм, расположенный у&nbsp;самых стен величественного Преображенского собора. История этой церкви&nbsp;&mdash; это история самой православной России, начиная с&nbsp;XVII столетия и&nbsp;заканчивая современностью. Когда-то на&nbsp;этом месте стоял гораздо более древний храм, возведенный тщанием первого государя из&nbsp;рода Романовых&nbsp;&mdash; царя Михаила Феодоровича. Посвящение храма не&nbsp;случайно: икона Знамения Богоматери была у&nbsp;Романовых семейной, наряду с&nbsp;Феодоровской. А&nbsp;место, на&nbsp;котором построена церковь, было особенно значимо для молодого царя. Здесь упокоились его дядья, Александр, Василий, Михаил и&nbsp;Иоанн Никитичи. Все они претерпели тяжелую опалу и&nbsp;ссылки в&nbsp;годы правления царя Бориса Годунова, которое пережил лишь один из&nbsp;них&nbsp;&mdash; Иоанн.
									p Особенно тяжкой была судьба Михаила Никитича Романова, скончавшегося (а&nbsp;по&nbsp;некоторым предположениям, убитого) в&nbsp;селе Ныробка, затерянном на&nbsp;самом севере Пермского края. Михаила Никитича держали в&nbsp;кандалах, которые весили около 3&nbsp;пудов, в&nbsp;холодной и&nbsp;сырой земляной яме, практически не&nbsp;кормили. Добрый и&nbsp;благочестивый, в&nbsp;народной памяти он&nbsp;остался невинно убиенным страдальцем, страстотерпцем. К&nbsp;месту кончины Михаила Никитича стекались многочисленные богомольцы, которые с&nbsp;благоговением прикладывались к&nbsp;его цепям, чая исцелений. В&nbsp;правление государя Николая II&nbsp;поднимался вопрос о&nbsp;прославлении страстотерпца в&nbsp;лике святых, но&nbsp;помешала революция.
									p Церковь, возведенная царем Михаилом Феодоровичем, к&nbsp;90-м годам XVIII столетия пришла в&nbsp;ветхость. Перестроить ее&nbsp;взялся граф Николай Петрович Шереметьев. Дело в&nbsp;том, что в&nbsp;под Знаменским храмом были погребены не&nbsp;только Романовы, но&nbsp;и&nbsp;представители других знатных родов России, среди которых были и&nbsp;предки графа. Николай Петрович поручил работу архитектору Елизвою Семеновичу Назарову&nbsp;&mdash; ученику и&nbsp;родственнику знаменитого Василия Ивановича Баженова. Исследователи предполагают, что к&nbsp;проекту храма приложил руку и&nbsp;сам Баженов.
									+e.img-block
										+e.img-cont
											img.lazy(src="#" data-src="img/@2x/temple-021-img-1.jpg" alt="")
										+e.img-descr-bl Старое здание детского сада  перестроенное под храм
									p Во&nbsp;всяком случае, архитектура Знаменской церкви свидетельствует, что ее&nbsp;создавал настоящий мастер своего дела. Здание, которое мы&nbsp;видим сегодня, является памятником стиля классицизм в&nbsp;его лучшем выражении. Золотистый цвет стен, стройные дорические колонны, широкий округлый купол... Храм двухэтажный: в&nbsp;подклете находится усыпальница, в&nbsp;верхнем этаже совершались богослужения. Наступил 1812&nbsp;год. Захватившие Первопрестольную французы ворвались и&nbsp;в&nbsp;Новоспасскую обитель. В&nbsp;Знаменской церкви они устроили конюшню. Не&nbsp;пощадил обители и&nbsp;пожар, которым закончилось нашествие войск Наполеона на&nbsp;Москву. В&nbsp;1813 году Знаменская церковь была вновь освящена. В&nbsp;20-е годы XIX столетия ее&nbsp;ремонтировали. Роспись храма поручили известному в&nbsp;то&nbsp;время итальянскому художнику А.&nbsp;Клаудо.
									+oldTempleSilder()
										+oldTempleSilde(2, '')
										+oldTempleSilde(2, 2)
										+oldTempleSilde(2, 3)
										+oldTempleSilde(2, 4)
									p Но&nbsp;настало новое лихолетье. После революции 1917 года Знаменской церкви оставался всего год. В&nbsp;1918&nbsp;ее закрыли. Сначала в&nbsp;храме устроили общежитие, затем&nbsp;&mdash; тюремный барак... В&nbsp;тридцатые годы под церковными сводами звучали звуки выстрелов: здесь казнили обреченных на&nbsp;смерть. После Великой Отечественной войны в&nbsp;Знаменском храме открыли вытрезвитель. Казалось, поруганию не&nbsp;будет конца... Но&nbsp;в&nbsp;1967 году за&nbsp;святыню вступился маститый художник Павел Дмитриевич Корин. Он&nbsp;написал статью, которую опубликовал в&nbsp;газете &laquo;Комсомольская правда&raquo;. В&nbsp;ней говорилось: &laquo;Я&nbsp;не&nbsp;могу расценить иначе, как надругательство над светлым гением Василия Баженова, тот факт, что в&nbsp;церкви Знамения, сооруженной им&nbsp;в&nbsp;Новоспасском монастыре (Крестьянская пл., 10), находится санпропускник и&nbsp;вытрезвитель&raquo;. К&nbsp;словам мэтра живописи прислушались. Вытрезвитель был закрыт, храм начали, хоть и&nbsp;медленно, ремонтировать. Регулярных богослужений в&nbsp;Знаменском храме нет до&nbsp;сих пор.
									+oldTempleSilder()
										+oldTempleSilde(3, '')
										+oldTempleSilde(3, 2)
										+oldTempleSilde(3, 3)
										+oldTempleSilde(3, 4)
									p В&nbsp;настоящее время ведется его реставрация и&nbsp;благоукрашение. Роль, которая отведена этой небольшой церкви в&nbsp;наши дни, поистине знаковая. Скоро сюда будет перенесен чудотворный образ Пресвятой Богородицы &laquo;Всецарица&raquo;, к&nbsp;которому стекается множество страждущих от&nbsp;раковых заболеваний&nbsp;&mdash; &laquo;чумы&raquo; современности. Верим и&nbsp;надеемся, что место, освященное памятью страдальцев нескольких эпох, станет местом милости Божией...
									+e.lower-primay-txt.text-center
										p Чудотворная икона &laquo;Всецарица&raquo; будет торжественно перенесена в&nbsp;отреставрированную Знаменскую церковь 31&nbsp;августа 2020&nbsp;года.
										+e.A.donate-btn(href="#") ПОЖЕРТВОВАТЬ

	// end sAboutTemple

mixin oldTempleSilder()
	+b.old-temple-slider
		.old-temple-slider-prev-js.wonderfull-prev.d-none.d-lg-flex
			+icon('arrow-right')
		.old-temple-slider-next-js.wonderful-next.d-none.d-lg-flex
			+icon('arrow-left')
		.swiper-container.old-temple-slider-js
			.swiper-wrapper
				block

mixin oldTempleSilde(imgNum=1, slideNum='')
	.swiper-slide
		+e.img-cont
			img.swiper-lazy(src="#" data-src=`img/@2x/old-temple-slider-${imgNum}.jpg` alt="#")
		+e.photo-descr=slideNum + 'Старое здание детского сада  перестроенное под храм'