mixin sReportPreheader()
	// start sReportPreheader
	+b.SECTION.sReportPreheader#sReportPreheader&attributes(attributes)
		+e.bg-block
			img(src="img/@2x/project-main-2.jpg" alt="")
		+e.content
			+e.header-headline-block
				+e.realised-proj Основной реализованный проект фонда
				h1
					| ХРам покрова Пресвятой богородицы
					i в Ясеневе
				+e.A.location-link(href="#")
					+icon('mark')
					span Москва, Крестьянская площадь, 10
			+e.footer-slider
				.swiper-container.preheader024-slider-js
					.swiper-wrapper
						+Preheader024FooterSlide(1 , 'О храме', "#video")
						+Preheader024FooterSlide(2 , 'Византийская мозаика', "#temple-project")
						+Preheader024FooterSlide(3 , 'Икона Святой Земли', "#mosaic")
						+Preheader024FooterSlide(4 , 'Виртуальный тур', "#icon")
				+e.A.learn-more-btn(href="#") ПОДРОБНЕЕ
	// end sReportPreheader

mixin Preheader024FooterSlide(imgNum=1, SlideTxt='SlideTxt', itemHref)
	.swiper-slide
		+e.A.slide-link(href=`${itemHref}`)
			+e.slide-img
				img(src=`img/@2x/024-preheader-slider-${imgNum}.jpg` alt="")
			+e.slide-txt=SlideTxt

	//