mixin s-team()
	// start s-team
	+b.SECTION.s-team.section#s-team&attributes(attributes)
		block
		.container 
			.row
				mixin teamItem(i,t, sm)
					+e.col.col-xl-3.col-lg-4.col-sm-6
						+b.s-team-item
							+e.img-wrap
								img.object-fit-js.res-i(src=`img/@2x/team-${i}.jpg`, alt="")
								+e.caption
									p Родился в Москве. Учился в православном лицее при храме Богоявления бывшего Богоявленского монастыря. Окончил исторический факультет МПГУ и аспирантуру по кафедре психологии МПГУ. Как и многие другие сотрудники "Предание.Ру" посещал Евангельскую группу Владимира Стрелова на Крутицком подворье. Работает на портале "Предание" со дня основания. Отвечает за юридическое сопровождение проекта. В свободное время водит походы. Женат, трое детей.
									+soc()
							+e.title!= t
							+e.sm!= sm
				- for (var x = 0; x < 2; x++)
					+teamItem("1",`Гончаров<br> Павел Игоревич`,'Председатель правления фонда')

					+teamItem("2",`Костышин<br> Алексей Иванович`,'Помощник пердседатель правления фонда')

					+teamItem("3",`Дулина<br> Ольга Батьковна`,'Руководитель волонтёров')

					+teamItem("4",`Ковалёва<br> Елена Игоревна`,'Руководитель отдела пожертвований')
				
		 

	// end s-team