extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-cards/_s-cards.pug
include ../blocks/s-project/_s-project.pug
include ../blocks/s-rews/_s-rews.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-logo/_s-logo.pug
include ../blocks/s-continue/_s-continue.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'шаг 3 Текущие проекты'
	title= title
block pagecontent 

	+mob-mnu()
	header.header
		+top-line()
	+page-head('ПОЖЕРТВОВАТЬ')
	+s-continue
		.s-continue-wrapper
			+e.group
				+e.group-title--light.ttu СМС-пожертвование
				.chosen-container.d-block
					+b.chosen-single--result
						span.option-row.justify-content-center
							span.option-img-wrap
								img(src='img/svg/logo-color.svg')
							span СМС-пожертвование
			+e.group 
				.row
					.col-sm-6
						+e.btn.btn.btn-block.active(href="#") Со счёта мобильного
						
					.col-sm-6
						+e.btn.btn.btn-block(href="#") СМС-пожертвование

			+e.group
				.text-center
					img.res-i(src="img/@2x/phone.jpg", alt="")
				p.pt-3 Отправить пожертвование можно со&nbsp;счета мобильного телефона оператора&nbsp;&mdash; &laquo;Мегафон&raquo;, &laquo;Билайн&raquo;, МТС или Tele2.
	+footer()