extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-cards/_s-cards.pug
include ../blocks/s-project/_s-project.pug
include ../blocks/s-rews/_s-rews.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-logo/_s-logo.pug
include ../blocks/s-continue/_s-continue.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'шаг 3.2 Текущие проекты'
	title= title
block pagecontent 

	+mob-mnu()
	header.header
		+top-line()
	+page-head('ПОЖЕРТВОВАТЬ')
	+s-continue
		.s-continue-wrapper
			+e.group
				+e.group-title--light.ttu СМС-пожертвование
				.chosen-container.d-block
					+b.chosen-single--result
						span.option-row.justify-content-center
							span.option-img-wrap
								img(src='img/svg/logo-color.svg')
							span На уставные цели фонда
			+e.group 
				.row
					.col-sm-6
						+e.btn.btn.btn-block(href="#") Со счёта мобильного
						
					.col-sm-6
						+e.btn.btn.btn-block.active(href="#") СМС-пожертвование

			+e.group
				.h4.mono Отправьте СМС-сообщение на&nbsp;номер #[span.text-primary 3434]&nbsp;c текстом &laquo; #[span.text-primary Десятина]&raquo;, через пробел, цифрами&sup1; укажите любую&sup2; сумму, которую хотите перечислить.
			+e.group
				.text-center.mb-4.border-bottom
					img.res-i(src="img/@2x/phone_help_view_v2.png", alt="")
				.pt-3
					p.sup-wrap #[sup 1] В случае если число будет указано прописью или сообщение будет содержать только текст, суммой пожертвования будет автоматически считаться 100 рублей.
					p.sup-wrap #[sup 2] Допустимый размер пожертвования от&nbsp;10&nbsp;до&nbsp;15&nbsp;000&nbsp;рублей. Комиссия  с&nbsp;абонента&nbsp;0%.
				.row.small
					.col-auto
						a(href="#").hover-link Ограничения операторов 
					.col-auto
						a(href="#").hover-link Оферта Мегафон
	+footer()