extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-cards/_s-cards.pug
include ../blocks/s-project/_s-project.pug
include ../blocks/s-rews/_s-rews.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-logo/_s-logo.pug
include ../blocks/sMobileBlock/_sMobileBlock.pug
include ../blocks/s-about/_s-about.pug


	//020
include ../blocks/sAboutIcon/_sAboutIcon.pug
include ../blocks/sAboutTemple/_sAboutTemple.pug

include ../blocks/sNewsPage/_sNewsPage.pug
include ../blocks/s-form022/_s-form022.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Новости'
	title= title
block pagecontent 

	+mob-mnu()
	header.header
		+top-line()
	+b.about-icon-preheader
		.container.text-center
			+e.A.main-found-btn(href="#") Основной проект фонда
			+e.H2.main-headline Новоспасский монастырь
			+e.A.location-link(href="#")
				+icon('mark')
				span Москва, Крестьянская площадь, 10
	+b.top-line-sub-inner
		+b.top-line-sub.d-none.d-sm-block
			.container
				ul
					li.menu-item-has-children
						a(href="#") ЦЕЛЬ СБОРА
						ul.sub-menu
							li: a(href="#") цель збора 1
							li: a(href="#") цель збора 2
							li: a(href="#") цель збора 3
					li.menu-item-has-children
						a(href="#") Всецарица
						ul.sub-menu
							li: a(href="#") Всецарица 1
							li: a(href="#") Всецарица 2
							li: a(href="#") Всецарица 3
					li
						a(href="#") о храме
					li.current-menu-item.menu-item-has-children
						a(href="#") Новости
						ul.sub-menu
							li: a(href="#") Новости 1
							li: a(href="#") Новости 2
							li: a(href="#") Новости 3
	+sNewsPage()
		+page-head('Новости')(class="ttu page-head--with-video")
	+footer()