extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-cards/_s-cards.pug
include ../blocks/s-project/_s-project.pug
include ../blocks/s-rews/_s-rews.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-logo/_s-logo.pug
include ../blocks/sMobileBlock/_sMobileBlock.pug
include ../blocks/s-about/_s-about.pug


	//020
include ../blocks/sAboutIcon/_sAboutIcon.pug
include ../blocks/sAboutTemple/_sAboutTemple.pug

include ../blocks/sNewsPage/_sNewsPage.pug
include ../blocks/s-form022/_s-form022.pug

include ../blocks/sDonateTargetPreheader/_sDonateTargetPreheader.pug
include ../blocks/sDonateTargetContent/_sDonateTargetContent.pug

include ../blocks/sReportPreheader/_sReportPreheader.pug
include ../blocks/sReportPage/_sReportPage.pug

include ../blocks/sNewsPage025/_sNewsPage025.pug

include ../blocks/sNewsPreheader026/_sNewsPreheader026.pug
include ../blocks/sNewsPage026/_sNewsPage026.pug

include ../blocks/sNewsPage027/_sNewsPage027.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Статьи'
	title= title
block pagecontent 

	+mob-mnu()
	header.header
		+top-line()
	+sNewsPage027()
		+page-head('Новости')(class="ttu page-head--with-video")
		+b.top-line-sub-inner
			+b.top-line-sub.d-none.d-sm-block
				.container
					ul
						li.current-menu-item
							a(href="#") ВСЕ
						li
							a(href="#") НОВОСТИ
						li
							a(href="#") СТАТЬИ
						li
							a(href="#") ВИДЕО
	+footer()