extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-cards/_s-cards.pug
include ../blocks/s-project/_s-project.pug
include ../blocks/s-rews/_s-rews.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-logo/_s-logo.pug
include ../blocks/s-continue/_s-continue.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'шаг 3.2 Текущие проекты'
	title= title
block pagecontent 

	+mob-mnu()
	header.header
		+top-line()
	+page-head('ПОЖЕРТВОВАТЬ')
	+s-continue 
		+e.group
			+e.group-title--light.ttu СМС-пожертвование
			.chosen-container.d-block
				+b.chosen-single--result
					span.option-row
						span.option-img-wrap
							img(src='img/@1x/video.jpg')
						span На храм равноапостольного князя Владимира,  п. Станционный-Полевской, Свердловская обл.
		+e.title-main Адреса информационных стоек
		+e.mark--mark.scroll-link(href='#map-block')
			+icon("mark")
			| Смотреть на карте
		.row
			mixin addr(t,p)
				+e.col--map.col-lg-4.col-sm-6.scroll-link(href='#map-block')
					+e.col-title!= t
					+e.col-text!= p
			+addr("м.&nbsp;Биберево",'&laquo;Виктория ул. Коненкова, дом&nbsp;3')
			+addr("м.&nbsp;Киевская",'ТРЦ &laquo;Европейский пл. Киевского вокзала, стр.&nbsp;20&nbsp;этаж, возле эскалатора')
			+addr("м.&nbsp;Селигерская",'ТЦ&nbsp;&laquo;XL Дмитровское&nbsp;ш., д.&nbsp;89,2&nbsp;этаж, возле &laquo;Остин ')
			+addr("м.&nbsp;Братиславская",'&laquo;Виктория Перервинский бульвар, вл.4 к.1')
			+addr("м.&nbsp;Коньково",'&laquo;Виктория ул. Профсоюзная, д.1093&nbsp;этаж, возле &laquo;Остин ')
			+addr("м.&nbsp;Семёновская",'ТЦ&nbsp;&laquo;На&nbsp;Заре ул. Малая Семеновская, д.&nbsp;30, стр.&nbsp;6,2&nbsp;этаж')
			+addr("м.&nbsp;Бульвар Адмирала Ушакова",'&laquo;Виктория ул. Адмирала Лазарева, д.&nbsp;2')
			+addr("м.&nbsp;Крылатское",'&laquo;Виктория Осенний б-р.,12, 0&nbsp;этаж')
			+addr("м.&nbsp;Тёплый стан",'ТЦ&nbsp;&laquo;Спектр Новоясеневский пр-т, д.&nbsp;1,2&nbsp;этаж')
			+addr("м.&nbsp;Бульвар Дмитрия Донского",'ТЦ&nbsp;&laquo;Алфавит Куликовская&nbsp;ул., д.&nbsp;6,0&nbsp;этаж')
			+addr("м.&nbsp;Новокосино",'&laquo;Виктория ул. Новокосинская, д.32/7')
			+addr("м.&nbsp;Царицыно",'&laquo;Царицынский рынок ул. Каспийская, д.&nbsp;36')
			+addr("м.&nbsp;Динамо",'ТЦ&nbsp;&laquo;Старт Ленинградский пр-т, д. 37б,1&nbsp;этаж')
			+addr("м.&nbsp;Новые Черемушки",'ТЦ&nbsp;&laquo;Черемушки ул.Профсоюзная, д.56, 1-й и&nbsp;4-й этаж')
			+addr("м.&nbsp;Щёлковская",'ТЦ&nbsp;&laquo;Первомайский ул. 9-я Парковая, д.&nbsp;62')
			+addr("м.&nbsp;Домодедовская",'&laquo;Виктория Ореховый б-р, д.14,  стр.&nbsp;3, 0&nbsp;этаж')
			+addr("м.&nbsp;Пролетарская",'Новоспасский монастырь Крестьянская пл., 10')
			+addr("м.&nbsp;Юго-Западная",'&laquo;Виктория ул. Академика Анохина, д.2&nbsp;корп. 1б')
			+addr("м.&nbsp;Каховская",'&laquo;Виктория  Севастопольский пр-т, д.&nbsp;28, стр.&nbsp;2')
		+e.map-wrap#map-block
			+b.info-block.active

				+e.head 
					.strong ТРЦ «Европейский»
					.info-block-close
						img(src="img/svg/close.svg", alt="")
				+e.img-wrap
					img.res-i(src="img/@2x/742453a2d7c4228c88263a7eaae3c42a.jpg", alt="")
				+e.body
					.strong м. Киевская
					p пл. Киевского вокзала, стр. 2 <br> 0 этаж, возле эскалатора
					.small Время работы: 10:00-22:00

					.small По вопросам работы точки обращаться по телефонам: 
						a(href="tel:+7(495)422-25-88").tdn.text-white +7 (495) 422-25-88 
						|, 
						a(href="tel:+7(926)935-93-24").tdn.text-white +7 (926) 935-93-24 
					.small
						a(href="www.europe-tc.ru").tdn www.europe-tc.ru

			img.map-img.res-i(src="img/@2x/map.jpg", alt="")
	+footer()