extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-cards/_s-cards.pug
include ../blocks/s-project/_s-project.pug
include ../blocks/s-rews/_s-rews.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-logo/_s-logo.pug
include ../blocks/s-continue/_s-continue.pug

block variables
	- let  mainPage= null
block title
	- let  title= '04'
	title= title
block pagecontent 

	+mob-mnu()
	header.header
		+top-line()
	+page-head()
		.d-none.d-sm-block
			img(src="img/svg/logo-lg-without-text.svg", alt="")
			br
			img(src="img/svg/text.svg", alt="")
		.d-sm-none
			img.mb-1(src="img/svg/logo-text.svg", alt="")
		.mono.h5 Строим и благоурашаем храмы с 2010 года
	+s-continue
		.s-continue-wrapper
			+e.group
				+e.group-title.text-success 
					img(src="img/svg/success.svg", alt="").mr-2
					br.d-sm-none
					| Пожертвование успешно совершено!
				.h5.mono Сердечно благодарим Вас за&nbsp;совершенное пожертвование на&nbsp;уставные цели Фонда Архангела Михаила. 

				.h5.mono Ваше участие позволит оказывать помощь храмам не&nbsp;только в&nbsp;Москве, но&nbsp;и&nbsp;в&nbsp;других городах и&nbsp;селах России. Эти средства будут потрачены на&nbsp;канцтовары, содержание офиса, разработку сайта, поддержание работоспособности платежных систем, заработную плату сотрудников, содержание и&nbsp;ремонт оргтехники.
				p С пожеланиями помощи Божией во всех ваших <br> делах и начинаниях, Фонд Архангела Михаила
				a(href="#" class="s-news__btn btn-more ttu") на главную
	+footer()