extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-cards/_s-cards.pug
include ../blocks/s-project/_s-project.pug
include ../blocks/s-rews/_s-rews.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-logo/_s-logo.pug
include ../blocks/s-continue/_s-continue.pug

block variables
	- let  mainPage= null
block title
	- let  title= '07'
	title= title
block pagecontent 

	+mob-mnu()
	div.dark-bg.text-white.bgs(style="background-image: url(img/@2x/project-main-1.jpg);")
		header.header
			+top-line()
		
		+page-head()
			+e.label Основной проект фонда
			+e.H1.title-lg Новоспасский монастырь
			+e.mark 
				+icon("mark")
				| Москва, Крестьянская площадь, 10
		+s-continue
			.s-continue-wrapper.s-continue-wrapper--lg
				+e.group
					+e.group-title--lg.text-danger
						img(src="img/svg/danger.svg", alt="").mr-2
						br.d-sm-none
						| К сожалению, Ваше пожертвоание не прошло.
					+b.form-wrap.text-center.mb-3
						+e.BUTTON.btn.btn-success(type="submit") повторить
					p В случае если средства были списаны со счёта Вашей банковской карты, обязательно свяжитесь с нами или оставьте свои контактыне данные и мы сами свяжемся с Вами.

					p Телефон: +7 (495) 422-25-88
						br
						| Электронная почта: info@fond-am.ru
				+e.group
					+e.group-title Контактная информация
					+b.form-wrap
						+input('Телефон','tel')
						+input('Эл. почта','email')
						+input('Адрес доставки')
						+in-c()
							+e.SMALL.text Я хочу получать информацию о деятельности фонда на указанный адрес эл. почты

						+in-c()
							+e.SMALL.text Осуществляя пожертвование я принимаю условия #[a(href="#") договора-оферты]
						.text-center.pt-2
							button.btn.btn-outline-primary.ttu(type="submit") отправить
	+footer()