extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-cards/_s-cards.pug
include ../blocks/s-project/_s-project.pug
include ../blocks/s-rews/_s-rews.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-logo/_s-logo.pug
include ../blocks/sMobileBlock/_sMobileBlock.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-project-head/_s-project-head.pug
include ../blocks/s-project-list/_s-project-list.pug
include ../blocks/s-continue/_s-continue.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Текущие проекты'
	title= title
block pagecontent 

	+mob-mnu()
	header.header
		+top-line()
			//- +b.top-line-sub.d-none.d-sm-block
			//- 	.container
			//- 		ul
			//- 			li: a(href="#") О фонде
			//- 			li.current-menu-item: a(href="#") Команда
			//- 			li: a(href="#") Наши награды
			//- 			li: a(href="#") документы
			//- 			li: a(href="#") ОТЧЁТЫ
	//- +header()
	//- 	//- +top-nav()
	//- 	+header-block()
	+page-head('Текущие проекты')(class="ttu ")
		+e.sub-title 28 храмов и монастырей нуждаются в Вашей помощи
	+s-project-head
	//- +s-project('btnN')()
	+s-continue()(class='section') 
		+e.map-wrap#map-block
			+b.info-block.active 
				.info-block-close
					+icon("close-bold")
				+b.project-item.bg-wrap
					+pic("projec-1",'bg','')(class="picture-bg")
					.project-item__hidden.active.mb-auto
						+e.place(href="#")
							+icon('mark')
							|  г. Клин
						+e.title Храм в&nbsp;честь свт. Тихона Патриарха Всероссийского
							br
							em в Клину
								= x
					+e.text Требуется роспись стен
					.project-item__hidden.mb-auto
						p Примем участие в обустройстве Никольской церкви села Мужиново! Создание колоколов издревле считалось особо богоугодным делом. Колокольный звон называют молитвой в бронзе. Верующий человек,
					+e.price
						.row
							.col-6
								+e.price-title Собрано
								+e.number 399 050 860 Р
							.col-6
								+e.price-title Требуется
								+e.number 500 000 000 Р
							
					+e.btn-wrap.project-item__hidden
						+e.btn.btn-sm(href="#") ПОМОЧЬ ХРАМУ
					+e.foot
						+e.foot-item
							+icon("eye")
							| 45
						
						+e.foot-item
							+icon("donate")
							| 133
						+e.foot-item
							+icon("share")
							| 18

			img.map-img.res-i(src="img/@2x/map.jpg", alt="")
	//- +s-cards()(class='order-sm-first')
	+footer()