// start .s-why
.s-why {
	padding-bottom: 0 !important;
	&__arrow-wrapper &__slider{
		@include media-breakpoint-up(xl) {
		overflow: hidden;
		padding: 20px;
		margin: -20px;
		}
	}
	p{color: rgba(80, 87, 105, 0.5);
@include media-breakpoint-up(lg) {

	margin-bottom: rem(10);
}

margin-bottom: rem(5);
	}
	&__arrow-wrapper{
		position: relative;
	}
	.section-title {
		&__text{
			line-height: 135%;
			@include media-breakpoint-down(xs){
				padding-top: 1rem;
			}
		}
		@include media-breakpoint-up(sm) {

			padding-bottom: rem(60);
		}
	}

	&__slide {
			@include media-breakpoint-up(lg) {

				width: rem(263);
			}
				height: inherit;
				margin-bottom: 20px;
	}

	.swiper-wrapper {
		height: inherit;
	}

	&__icon-wrap {
		@include media-breakpoint-down(md){
			width: rem(70);
			text-align: center;
		}
		.icon {
			color: currentColor;
			font-size: rem(65);
			@include mt;

		}

		margin-bottom: rem(15);
	}

	&__title {
		font-size: $small;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.3px;
		@include media-breakpoint-up(lg) {

			margin-bottom: rem(10);
		}
		margin-bottom: rem(5);
		letter-spacing: 0.1em;
	}

	&__item {
		.row{
			@include roww(10);
		}
		background-color: #ffffff;
		border-radius: 8px;
		@include mt;
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		max-width: 555px;
			@include media-breakpoint-up(lg){
				
				padding: rem(20) rem(26) rem(10);
			}
						@include media-breakpoint-up(sm){
			padding: rem(20) rem(22) rem(0);
		}
		padding: rem(20) rem(22) rem(20);
		// box-shadow: 0px 8px 16px rgba(80, 87, 105, 0.25);
	box-shadow: 0px 8px 16px rgba(80, 87, 105, 0.05);
		height: 100%;
		line-height: 1.2;

		&__foot {
			margin-top: auto;
		}
		color: $body-color;
		text-decoration: none !important;

		&:hover {
			background: #3C414F;
			/* Тень для карточек */
			color: #ffffff;
			p{
				color: #ffffff;

			}
			.icon {
				color: $primary;
			}
		}
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {
		.swiper-wrapper{
			display: block;
			transform: translate3d(0px, 0px, 0px) !important;
		 

		}
	}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.s-why