// start .sNewsPage025
.sNewsPage025 {

	//news section
	.s-news{
		padding-bottom: 40px;
		@include media-breakpoint-up(md){
			padding-bottom: 40px;
		}
		@include media-breakpoint-up(lg){
			padding-bottom: 60px;
			padding-top: 5px;
		}

		.additional-news-box{
			padding-top: rem(60);
		}

		.show-more-btn025{
			@extend .show-more-btn-frame;
			margin-bottom: 0;
		}
	}

	//s-form
	.s-form{
		padding-bottom: 0;
		@include media-breakpoint-up(lg){
			padding-bottom: rem(120px);
		}
	}


	.container{
		@include media-breakpoint-between(sm,md){
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	//
	.page-head{
		padding-bottom: 0;
		@include media-breakpoint-down(sm){
			padding-top: 33px;
		}

		h1{
			color: $dark2;
		}
		h1:before{
			margin-bottom: 0px;
			@include media-breakpoint-up(md){
				margin-bottom: 0px;
			}
			@include media-breakpoint-up(lg) {
				margin-bottom: 15px;
			}
		}
	}
	//top-line-sub
	.top-line-sub-inner{
		//
		margin-bottom: 46px;
		@include media-breakpoint-up(md){
			margin-bottom: 28px;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 22px;
		}
	}
	.top-line-sub{
		//
		padding-top: 38px;
		@include media-breakpoint-up(md){
			padding-top: 38px;
		}
		@include media-breakpoint-up(lg){
			padding-top: 30px;
			padding-bottom: 10px;
		}
	}





	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sNewsPage025

.news-filter-box{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;

	//select lider
	&__date-filter-select-cont{
		width: 180px;
		max-width: 50%;

		&.right-select{
			position: relative;
			right: -10px;
			.select2-selection{
				justify-content: flex-end;
			}
		}
	}

	.select2-container{
		width: 100% !important;
		height: 45px;
		background-color: transparent;
	}
	.select2-selection{
		height: 100%;
		border-radius: 8px;
		border: 1px solid transparent; //$select-border-color
		background-color: $body-bg;

		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	.select2-selection__rendered{
		height: 100%;
		line-height: 50px !important;
		padding: 0 0 0 0 !important;
		font-size: 13px !important;
		font-weight: bold !important;

		letter-spacing: 0.15em;
		color: $dark2;
	}
	.select2-selection__placeholder{
		font-size: 14px;
		display: block;
		color: $body-color !important;
	}
	.select2-selection__arrow{
		background-color: transparent;
		position: relative !important;

		top: unset !important;
		bottom: unset !important;
		left: unset !important;
		right: unset !important;

		height: 100% !important;
		padding-top: 5px;
		width: 30px !important;
		//top: 0 !important;
		//right: 20px !important;
		b{
			display: none;
		}
		@include mt();
		&:before, &:after{
			content: '';
			display: block;
			position: absolute;
			width: 8px;
			height: 1.5px;
			border-radius: 1px;
			background-color: $body-color;
		}
		&:before{
			top: calc(50% - 1px);
			left: calc(50% - 6.25px);
			transform: rotate(45deg);
		}
		&:after{
			top: calc(50% - 1px);
			left: calc(50% - 2.25px);
			transform: rotate(-45deg);
			//background-color: red;
		}
	}
	.select2-container--open{
		.select2-selection__arrow{
			padding-top: 0px;
			transform: rotateX(180deg);
			//padding-bottom: 5px;
		}
	}
}

.drop-down-full-grey{
	border: none 8px !important;
	border-radius: 8px !important;

	position: relative;
	left: -20px;
	.select2-results__options{
		padding: 20px 0;
		li{
			height: 40px;
			line-height: 40px;

			padding: 0 rem(10);
			@include media-breakpoint-up(sm){
				padding: 0 rem(30);
			}

			font-style: normal;
			font-weight: bold;
			font-size: 13px;
			letter-spacing: 0.15em;
			color: $dark2;

		}
	}
	.select2-results__option--highlighted[aria-selected]{
		background-color: transparent;
		color: $primary;
	}

	.select2-results__option[aria-selected=true]{
		background-color: transparent;
		color: $primary;
	}
}




//show more btn


.sNewsPage025 + footer{  margin-top: 0 }


//search-strip
.search-strip-025{
	margin-bottom: 35px;
	@include media-breakpoint-up(md){
		margin-bottom: 35px;
	}
	@include media-breakpoint-up(lg){
		margin-bottom: 35px;
	}

	.form-wrap{
		//inp box
		&__input-wrap{
			margin-bottom: 28px;
			@include media-breakpoint-up(sm) {
				margin-bottom: 40px;
			}
		}
		//inp
		&__input{
			box-shadow: 0px 8px 16px rgba(80, 87, 105, 0.05);
			background: $white;

			border-radius: 25px;
			height: 25px;
			font-size: 13px;
			padding: 16px 23px 18px 23px;
			@include media-breakpoint-up(sm){
				border-radius: 30px;
				height: 60px;
				font-size: 16px;
				padding: 20px 30px;
			}


			line-height: 120%;
			color: $dark2;
			@include placeholder(){
				color: rgba(80, 87, 105, 0.5);
			}
		}
		//btn
		&__search-btn{
			@extend .btn;
			@extend .btn-dark2;

			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;

			padding: 15px 25px;

			width: 180px !important;
			height: 40px;
			@include media-breakpoint-up(sm){
				width: 200px !important;
				height: 50px;
			}

			box-shadow: 0px 8px 16px rgba(80, 87, 105, 0.25);

			font-weight: bold;
			font-size: rem(16px);
			line-height: 1;
			letter-spacing: 0.15em;
		}
	}
}