mixin sNewsPage025()
	// start sNewsPage025
	+b.SECTION.sNewsPage025#sNewsPage025&attributes(attributes)
		.container
			block
		.container
			+b.search-strip-025
				+form-wrap()
					+input('Например: Новоспаский монастырь', 'text', undefined, 'search-page025')
					.text-center
						+e.BUTTON.search-btn(type="submit") ИСКАТЬ
			+b.news-filter-box
				+newsNavBlock()
		+s-news-for-025
			.d-sm-none.text-center
				+b.A.show-more-btn025(href="#") ПОКАЗАТЬ ЕЩЁ
		.container
			.d-none.d-sm-block
				+pugin()
			+s-form()
	// end sNewsPage025

mixin newsNavBlock()
	+e.last-btn ПОСЛЕДНИЕ
	ul
		li.menu-item-has-children
			a(href="#") ПОСЛЕДНИЕ
			ul.sub-menu
				li: a(href="#") ПОСЛЕДНИЕ 1
				li: a(href="#") ПОСЛЕДНИЕ 2
				li: a(href="#") ПОСЛЕДНИЕ 3
		li
			a(href="#") СТАРЫЕ
		li.menu-item-has-children
			a(href="#") 2020
			ul.sub-menu
				li: a(href="#") Декабрь
				li: a(href="#") Ноябрь
		li.menu-item-has-children
			a(href="#") 2019
			ul.sub-menu
				li: a(href="#") Декабрь
				li: a(href="#") Ноябрь