
mixin mob-mnu()

	+b.menu-mobile--js
		+e.inner
			+b.toggle-menu-mobile--js
				img.res-i(src="img/svg/arrow-long-left.svg", alt="")
		
			+mnu()
			+mnu2()
			+e.text
				a(href="tel:+7 (495) 422-25-88") +7 (495) 422-25-88
				br
				a(href="mailto:info@fond-am.ru") info@fond-am.ru
				br
				| Москва, Новоясеневский пр-т, 42
		+e.btn(href="#") ПОЖЕРТВОВАТЬ
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-fluid
			.row
				+e.col.col-auto
					+b.toggle-menu-mobile--js.d-lg-none
						span
				.col
					.d-none.d-lg-block
						+mnu2()
						+mnu0()
				+e.col.col-auto
					+b.link-donate(href="#")
						+e.icon-wrap
							+icon('donate')
						.d-none.d-xxl-block ПОЖЕРТВОВАТЬ
	// end top-nav