
mixin mob-mnu()
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-fluid
			.row
				+e.col.col-auto
				.col
					+mnu2()
					+mnu0()
				+e.col.col-auto
					+b.link-donate(href="#")
						+e.icon-wrap
							+icon('donate')
						| ПОЖЕРТВОВАТЬ
	// end top-nav