 
	  
.soc{
	  @include media-breakpoint-up(md) {

			margin: 0 rem(-15px);
		} 
		margin: 0 rem(-10px);
	display: flex;
	&__item{
		text-decoration: none !important;
		  @include media-breakpoint-up(md) {

				margin: 0 rem(15px);
			} 
			margin: 0 rem(10px);
		vertical-align: middle;
		@include mt;
		display: block;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
		color: #ffffff;
	}
	.icon{
	font-size: rem(22);
	&-twitter{
		font-size: rem(18);
		
	}
	&-vk{
		font-size: rem(16);
	}
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

