mixin header-block()
	// start header-block
	+b.header-block#header-block
		+e.slider--js.swiper-container
			.swiper-wrapper
				- for (var x = 0; x < 3; x++)
					+e.slide.swiper-slide.bgs.text-center(style="background-image: url(img/@2x/header-bg.jpg);")
							+e.logo
								.d-none.d-sm-block
									img.logo-img.res-i.d-none.d-lg-inline-block(src="img/svg/logo-lg-without-text-light.svg", alt="")
								 
									img.logo-img.res-i.d-lg-none(src="img/svg/logo-lg-without-text.svg", alt="")
									br
									img.logo-text.res-i(src="img/svg/text.svg", alt="")
								.d-sm-none
									img.logo-img.res-i.d-lg-none(src="img/svg/logo-lg-bold.svg", alt="")
								+e.text Строим и благоурашаем храмы с 2010 года
		+e.swiper-pagination.swiper-pagination.d-none.d-sm-block
		
	// end header-block