.header-block {
	// display: block;
	@include media-breakpoint-up(sm) {
		margin-top: rem(60);
	}

	padding-bottom: rem(40);
	margin-left: auto;
	margin-right: auto;
	@include media-breakpoint-up(sm) {
		margin-bottom: rem(60);
		padding-bottom: 0;
	}
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(40);

		padding-top: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	@include media-breakpoint-up(sm) {
		position: relative;
		z-index: 3;
			background: none;
			padding-bottom: 0;
			padding-top: 40px;
				padding-left:40px;
				padding-right:40px;
		}
		padding-bottom: rem(60);
		padding-top: 60px;
		background-color: #AA3F59;
	 
	&__slider{

		max-width: 1300px;
		
		
			@include media-breakpoint-up(md) {

				
				border-radius: 8px;
			}
		@include media-breakpoint-up(lg) {
			margin-top: rem(145);
			
			
		}
		overflow: hidden;
		position: relative;
		background-color: #AA3F59;
			@include media-breakpoint-up(sm) {

				box-shadow: 0px 16px 32px rgba(154, 41, 68, 0.3);
			}
		@include bgs;
	}
	// height: 100vh;
	// min-height: 100vh;

	img {
	
		max-height: calc(100vh - #{rem(95 + 20)});
	}
 &__slide{
	 padding-left: 15px;
	 padding-right: 15px;
	 	@include media-breakpoint-up(lg) {

			 min-height: rem(598);
			}
			min-height: rem(458);
	// display: block;
	display: flex;
 }
 .logo-img{ 
	 	@include media-breakpoint-up(sm) {
			 max-width: rem(320px);

			 margin-bottom: rem(30);
			}
			margin-bottom: rem(15);
 }
 
&__logo {
		max-width: 220px;
		margin-left: auto;
		margin-right: auto;
		img{
			@extend .res-i;
		}
	width: 100%;
		@include media-breakpoint-up(sm) {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			min-height: 100%;
			padding-top: rem(15);
			padding-bottom: rem(40);
			max-width: 100%;

		}

		padding-top: rem(20);
		padding-bottom: rem(40);

	}

	&__text {
		color: #ffffff;
		@extend .mono;
			@include media-breakpoint-up(sm){

				font-size: rem(24);
				max-width: none;
			}
			
			margin-left: auto;
			margin-right: auto;
			font-size: 18px;
			//  @extend .mono;
		}
		&__swiper-pagintation{
			
		}
		
		&__swiper-pagination{
			// bottom: 0;
			margin-top: 30px;
			@include media-breakpoint-down(lg) {
				top: 100%;
				width: calc(100% - 80px);
			}
			@include media-breakpoint-down(xs){
				margin-top: 20px;

			}
		}
		// 
		@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(xs) {
		&__slide{
			background-image: none !important;
		}
		img {
			// max-height: calc(100% - 7rem);
		 
		}

	}

	@include media-breakpoint-down(xs) {
		img {
			// max-height: calc(100% - 7rem);
		 
		}

	}
}