mixin s-logo()
	// start s-logo
	+b.s-logo.section#s-logo&attributes(attributes)
		.container
			+e.slider.slider-auto-mob-js.swiper-container
				.swiper-wrapper
					mixin slide(i, t,p)
						+e.slide.swiper-slide 
							img.res-i(src=`img/@2x/logo-${i}.png`, alt="")
						// /+e.DIV.slide.swiper-slide
					- for (var x = 1; x < 7; x++)
						+slide(x)
	// end s-logo