mixin s-logo()
	// start s-logo
	+b.s-logo.section#s-logo&attributes(attributes)
		.container
			+e.slider.slider-auto-mob-js.swiper-container
				.swiper-wrapper
					mixin slide(i, t,p)
						+e.slide.swiper-slide 
							+e.item
								+e.img-wrap
									img.res-i(src=`img/@2x/logo-${i}.png`, alt="")
								div
									+e.title= t
									+e.text= p
						// /+e.DIV.slide.swiper-slide
					+slide('1','Троице-сергиева лавра','г. Сергиев-посад')
					+slide('2','Храм преподобного сергия радонежского','г. Ставрополь')
					+slide('3','Храм сергия радонежского','г. Ставрополь')
				 
					+slide('1','Троице-сергиева лавра','г. Сергиев-посад')
					//- +slide('2','Храм преподобного сергия радонежского','г. Ставрополь')
					//- +slide('3','Храм сергия радонежского','г. Ставрополь')
				 
	// end s-logo