mixin sDonateTargetContent()
	// start sDonateTargetContent
	+b.SECTION.sDonateTargetContent#sDonateTargetContent&attributes(attributes)
		.container
			block
		.container
			+e.default-txt-block
				p Храма свт. Николая Чудотворца в&nbsp;селе Мужиново Брянской области&nbsp;&mdash; небольшая деревянная церковь, с&nbsp;великой любовью возрождаемая жителями. Верующие съезжаются в&nbsp;эту церковь, единственную на&nbsp;несколько деревень, по&nbsp;воскресным и&nbsp;праздничным дням.
				p Сельский приход не&nbsp;имеет средств на&nbsp;строительные работы, и&nbsp;все&nbsp;же, с&nbsp;Божией помощью и&nbsp;благодаря добрым людям сделано уже немало. Перестроено под храм старое здание детского сада. Реконструирована крыша, возведены главный купол и&nbsp;колокольня, завершена внешняя обшивка храма. Пришло время, чтобы заказать набор колоколов для храма. Требуется не&nbsp;такая уж&nbsp;большая сумма, чтобы окрестности огласились радостным звоном, в&nbsp;котором каждый услышит: &laquo;Сла-ва Бо-гу! Сла-ва Бо-гу! Бла-го-дать Свя-та-го Ду-ха! Все в&nbsp;храм! Все в&nbsp;храм!&raquo;
				+e.default-foto-block
					+e.img-block
						img.lazy(src="#" data-src="img/@2x/023-blog-foto-1.jpg" alt="")
					+e.foto-descr-txt Старое здание детского сада  перестроенное под храм
				h6 Из истории
				p Когда-то в&nbsp;Мужиново был свой деревянный храм. Как и&nbsp;в&nbsp;наши дни, он&nbsp;был построен по&nbsp;инициативе самих прихожан. Его возвели в&nbsp;1873 году жители трех деревень: Мужиново, Алень и&nbsp;Неделька, сообща решившие создать новый приход поближе к&nbsp;своим домам (до&nbsp;этого все они ездили в&nbsp;храм села Акуличи). Сохранились имена тех, чьим старанием осуществилось святое дело: это были простые крестьяне Александр Моськин и&nbsp;Иван Кужекин. Приход насчитывал более 3&nbsp;тысяч душ обоего пола&nbsp;&mdash; крестьян и&nbsp;казаков. Действовали целых 3&nbsp;школы: церковно-приходская, земская и&nbsp;школа грамотности. Мужиновцы любили свой храм и&nbsp;усердно посещали его: уже в&nbsp;1890 году возникла необходимость пристроить к&nbsp;Никольской церкви еще один придел, который освятили в&nbsp;честь Покрова Пресвятой Богородицы. Но&nbsp;грянула революция...
				p В&nbsp;1937 году храм в&nbsp;Мужиново был закрыт. Его здание простояло еще 6&nbsp;лет&nbsp;&mdash; до&nbsp;1943&nbsp;года, когда церковь была сожжена вместе со&nbsp;всем селом немецко-фашистскими захватчиками. В&nbsp;годы Великой Отечественной эти места были центром партизанской борьбы. Название села тогда оправдалось во&nbsp;всей полноте: русские люди проявили великое мужество, защищая родную землю. Памятью об&nbsp;этих событиях служит братская могила советских воинов и&nbsp;партизан, находящаяся в&nbsp;селе. Молитва о&nbsp;ведомых и&nbsp;неведомых героях, отдавших жизни за&nbsp;Отечество, сегодня совершается в&nbsp;храме, давая всем нам надежду на&nbsp;Вечную жизнь!
				+e.default-foto-block
					+e.img-block
						img.lazy(src="#" data-src="img/@2x/023-blog-foto-2.jpg" alt="")
					+e.foto-descr-txt Сатрое здание детского сада  перестроенное под храм
				p Возрождение храма&nbsp;&mdash; дело, касающееся сотен и&nbsp;даже тысяч душ. Тех, кто живет здесь. Тех, кто еще не&nbsp;родился, но&nbsp;будет учиться молиться, любить и&nbsp;радоваться в&nbsp;этой церкви. И&nbsp;тех, кто взирает на&nbsp;родные места из&nbsp;Горнего мира и&nbsp;ходатайствует перед Богом от&nbsp;каждом, кто несет в&nbsp;эти места добро...
				p Примем участие в&nbsp;обустройстве Никольской церкви села Мужиново! Создание колоколов издревле считалось особо богоугодным делом. Колокольный звон называют молитвой в&nbsp;бронзе. Верующий человек, услышав его, непременно вспомнит о&nbsp;Боге, перекрестится. И&nbsp;в&nbsp;каждом ударе колокола звенит ходатайство к&nbsp;Богу о&nbsp;тех, кто внес лепту в&nbsp;его изготовление.
				h6 Внесите именное пожертвование
				p Имена всех, за&nbsp;кого внесено пожертвование на&nbsp;реставрацию и&nbsp;благоукрашение Знаменского храма Новоспасского монастыря, будут поминаться вечно на&nbsp;каждом богослужении, как благотворители и&nbsp;благоукрасители храма сего.
			+b.donate-form-local023
				//-taken from 02 st2
				+e.group-title Частота пожертвования
				.row.no-gutters.month-once-cont
					+input-btn('Разовое','ch','col-sm-6')(checked)
					+input-btn('Ежемесячное','ch','col-sm-6')
				+e.group--other-border
					+e.group-title Сумма пожертвования
					.row.no-gutters
						+input-btn('300 ₽','rub','col-sm-4')
						+input-btn('500 ₽','rub','col-sm-4')(checked)
						+input-btn('1 000 ₽','rub','col-sm-4')
					+b.form-wrap
						+input('Другая сумма')
				//-
				+e.inputs-names-bl.inputs-parent-js
					+e.group-title Имена
					+form-wrap()
						.donates-inputs-box-js
							.donate-input-name-box
								//dont change the name it generates by js
								input(type="text" name='donate-inp-name-1' value="Николай" placeholder="Введите Им\'я")
								.cross-btn
						.add-name-btn-cont.add-name-btn-js
							.plus-btn-cont
								+icon('cross-icon-023')
							.add-btn-txt добавить ИМЯ
				//-taken from 02 st2
				+e.group
					+b.form-wrap
						+input('Телефон','tel')
						+input('Эл. почта','email')(class="border-danger")
						+input('Адрес доставки')
						+in-c('mb-1')(checked  )
							+e.SMALL.text Я хочу получать информацию о деятельности фонда на указанный адрес эл. почты

						+in-c()(checked)
							+e.SMALL.text Осуществляя пожертвование я принимаю условия #[a(href="#") договора-оферты]
						.text-center.pt-2
							+e.BUTTON.btn.btn-success(type="submit") ПОЖЕРТВОВАТЬ
	// end sDonateTargetContent