mixin sReportPage()
	// start sReportPage
	+b.SECTION.sReportPage#sReportPage&attributes(attributes)
		.container
			block
		.container(data-sticky-container)
			+b.sidebar
				+e.UL.nav.sticky-js(data-margin-top="120")
					li: a(href="#video") Видео презентация
					li: a(href="#temple-project") Проект храма
					li: a(href="#mosaic") Византийская мозаика
					li: a(href="#icon") Икона Святой земли
			+e.content
				#video
					h2
						| Храм построен в&nbsp;2015 году только на&nbsp;частные
						br.d-none.d-lg-block
						| пожертвования. В&nbsp;строительстве храма приняло участие
						br.d-none.d-lg-block
						|более 1&nbsp;млн человек!
					p Храм Покрова Пресвятой Богородицы в&nbsp;Ясеневе стал первым проектом Фонда Архангела Михаила. Это уникальный храм-памятник славы всем российским воинам, пролившим свою кровь за&nbsp;мир, свободу и&nbsp;покой нашего Отечества.
					p Покровский храм по&nbsp;своей уникальности, художественной ценности и&nbsp;площади мозаичного убранства не&nbsp;уступает мировым шедеврам церковного зодчества эпохи Византии. Этот проект представляет огромный духовный и&nbsp;культурно-исторический смысл, он&nbsp;позволил всем верующим прикоснуться к&nbsp;реликвиям Святой Земли в&nbsp;Москве&nbsp;&mdash; сердце России!
					h4.d-block.d-md-none Древняя Византия под&#160;московским небом
					+e.video-block
						+e.A.video-link(href="https://www.youtube.com/watch?v=en6gms6e54Q&list=PLIU76b8Cjem5B3sufBJ_KFTpKkMEvaTQR" data-fancybox="video")
							+e.video-link-img
								img.lazy(src="#" data-src="img/@2x/024-video-bl.jpg" alt="")
							+e.video-link-descr
								+e.play-btn
								+e.descr-txt.d-none.d-md-block Древняя Византия под московским небом
						+e.video-descr.row
							+videoDescrItem('7 лет', 'строительства', 'col-lg-3 col-md-4 col-6')
							+videoDescrItem('9', 'уникальных архитектурных проектов', 'col-lg-3 col-md-4 col-6')
							+videoDescrItem('5 в мире', 'по объёму мозаики', 'col-lg-3 col-md-4 col-6')
							+videoDescrItem('< 1 млн', 'жертвователй', 'col-lg-3 col-md-4 col-6 d-block d-md-none d-lg-block')
					p Строительство Покровского храма стало возможным лишь благодаря непрестанным молитвам к&nbsp;Богу его прихожан, а&nbsp;также бескорыстной помощи тех благотворителей, которые и&nbsp;ныне продолжают благочестивые традиции меценатства, сложившиеся в&nbsp;дореволюционной России. Только совместными усилиями, когда материальные вложения соединяются с&nbsp;упорным трудом и&nbsp;горячими молитвами людей, возможно завершить такое грандиозное начинание.
				#temple-project
					h2 Проект храма
					p Идеей проекта храма послужил храм Покрова на&nbsp;Нерли, в&nbsp;котором заключались мирные договоры и&nbsp;прекращались распри в&nbsp;смутные времена междоусобиц на&nbsp;Руси. Теперь каждый Покровский храм является символом примирения и&nbsp;защиты от&nbsp;бед. Ведь Державный Покров Матери Божией простирается над всем родом христианским.
					p Проект храма представляет собой удачное воспроизведение модели большого крестово-купольного храма с&nbsp;пятью куполами. Архитектурный ансамбль Покровского храма сочетает древнерусскую и&nbsp;византийскую традиции XI-XII&nbsp;вв. В&nbsp;своем плане он&nbsp;представляет собой обширное крестообразное пространство, куда свет проникает через окна в&nbsp;барабане, увенчанном золотым куполом. Малые купола синего цвета, украшенные звездами, говорят о&nbsp;том, что храм посвящен Богородице.
					+e.temple-proj-slider
						.swiper-container.temple-project-slider-js
							.swiper-wrapper
								+TempleProjectSlide(1)
								+TempleProjectSlide(2)
								+TempleProjectSlide(3)
								+TempleProjectSlide(4)
					+e.UL.temple-proj-descr
						li Хрампятиглавый, четырехстолпный, в&nbsp;двух западных главах расположены звонницы
						li Общая площадь: 1&nbsp;425 м2
						li Высота храма: 36&nbsp;м
						li Высота цокольного этажа, встроенного в&nbsp;рельеф: 4.5&nbsp;м
						li Размер центрального объема храма в&nbsp;осях: 18&nbsp;м x&nbsp;18.9&nbsp;м.
						li Габаритные размеры храма с&nbsp;притворами: 30.9&nbsp;м x&nbsp;27.0&nbsp;м
						li Храм вмещает: 800 человек
						li Храм имеет входные паперти с&nbsp;трех сторон
						li Главный вход&nbsp;&mdash; с&nbsp;западной стороны. Над западным притвором на&nbsp;отметке 8&nbsp;м имеются хоры
				#mosaic
					+e.mosaic-txt-content
						h2 Византийская мозаика
						p Храм, стены которого полностью выложены мозаикой,&nbsp;&mdash; мечта всех церковных художников-монументалистов. В&nbsp;декорации верхнего храма использованы две традиционные техники: мозаика и&nbsp;роспись.
						p Сочетание мозаик и&nbsp;фресок традиционно для Руси, где оно применялось в&nbsp;храмах домонгольского периода, украшавшихся византийскими художниками. Мозаики покрывают самые сакрально значимые зоны храма: купол, апсиды, полуциркульные своды, рукава креста, боковые стены, столпы. Убранство храма включает резную мраморную алтарную преграду и&nbsp;облицовку нижних зон стен мрамором, что вполне характерно для византийской традиции.
					+reportFullScreenSlider()
						+reportFullScreenSlide(1, 'Главный купол храма')
						+reportFullScreenSlide(1, 'Главный купол храма2')
						+reportFullScreenSlide(1, 'Главный купол храма3')
				#icon
					h2 Икона святой земли
					p В&nbsp;нижнем приделе Покровского храма, по&nbsp;благословению Святейшего Патриарха Кирилла, создан уникальный проект &laquo;Икона Святой Земли&raquo;. В&nbsp;одном месте собраны точные копии величайших христианских святынь: Вифлеемский престол, Темница Господа, Голгофа, Камень Помазания, Гроб Господень, Гробница Богородицы, а&nbsp;также Водонос из&nbsp;Каны Галилейской и&nbsp;Колонна Благодатного Огня.
					+e.icon-img-block
						img.lazy(src="#" data-src="img/@2x/024-icon-img.png" alt='')
						+e.img-descr Эскиз проекта «Икона Святой Земли» подписаный Патриархом Кириллом
					+reportFullScreenSlider()
						+reportFullScreenSlide(2, 'Общий вид  нижнего храма в честь Архангела Михаила')
						+reportFullScreenSlide(2, 'Общий вид  нижнего храма в честь Архангела Михаила2')
						+reportFullScreenSlide(2, 'Общий вид  нижнего храма в честь Архангела Михаила Общий вид  нижнего храма в честь Архангела Михаила3')

	// end sReportPage

mixin reportFullScreenSlider()
	+b.report-full-screen-slider
		.swiper-container.report-fs-slider-js
			.report-fs-prev.d-none.d-sm-flex
				+icon('arrow-right')
			.report-fs-next.d-none.d-sm-flex
				+icon('arrow-left')
			.swiper-wrapper
				block

mixin reportFullScreenSlide(imgNum=1, tooltipTxt='tooltipTxt')
	.swiper-slide
		+e.fs-slide-content
			+e.fs-slide-img
				img.swiper-lazy(src="#" data-src=`img/@2x/024-report-fs-${imgNum}.jpg` alt="")
				+e.fs-slide-tooltip=tooltipTxt


mixin TempleProjectSlide(imgNum)
	.swiper-slide
		+e.temple-slide-img
			img.swiper-lazy(src="#" data-src=`img/@2x/024-temple-slide-${imgNum}.png` alt="")


mixin videoDescrItem(headlineTxt='headlineTxt', itemTxt='itemTxt', ItemClasses)
	+e.video-descr-item.text-center(class=ItemClasses)
		+e.video-descr-headline=headlineTxt
		+e.video-descr-content=itemTxt