mixin s-cards()
	// start s-cards
	+b.s-cards.section#s-cards&attributes(attributes)
		.section-title.text-center.d-sm-none
			h2 Записки и сертификаты
		.container
			+e.slider.slider-auto-js.swiper-container
				.swiper-wrapper
					mixin slide(i)
						+e.slide.swiper-slide 
							+e.item(href="#")
								+e.DIV.img-wrap
									img.res-i(src=`img/@2x/donate-img-${i}.png`, alt="")
								block
						// /+e.DIV.slide.swiper-slide
					+slide("1")
						+e.DIV.text Внесите пожертвование  к&nbsp;празднику архангела  Михаила
					
					+slide("2")
						+e.DIV.text Внесите пожертвование к&nbsp;празднику свт. Пантелиомона
					
					+slide("3")
						+e.DIV.text Внесите пожертвование за&nbsp;всю семью
					
					+slide("4")
						+e.DIV.text Внесите пожертвование  к&nbsp;празднику свт. Николая Чудотворца
					+slide("4")
						+e.DIV.text Внесите пожертвование  к&nbsp;празднику свт. Николая Чудотворца
			.d-none.d-xl-block
				+arrow()
			//- +e.btn.btn-more(href="#") ВСЕ ПРОЕКТЫ
	// end s-cards